<h1 class="pagetitle">
	<%= @collection.name %>
	<% if admin? %>
		<%= link_to 'edit', {:action => 'edit', :id => @collection}, {:class => 'edititem'} %>
	<% end %>
</h1>

<h2>blog entries</h2>

<%= render :partial => 'blogentry/list', :collection => @collection.blogentries %>

<%= link_to 'create a new blog entry', {:controller => 'blogentries', :action => 'new'}, {:class => 'additem'} %>