<h1 class="pagetitle">
	<%= @thing.name %>
	<% if admin? %>
		<%= link_to 'edit', :action => 'edit', :id => @thing %>
	<% end %>
</h1>

<%= @thing.description.formatted unless @thing.description.nil? %>
