<%= error_messages_for 'question' %>

<p><label for="question_prompt">Prompt</label><br/>
<%= text_area 'question', 'prompt', :rows => 10, :class => 'standard'  %></p>

<p><label for="question_guidance">Guidance</label><br/>
<%= text_area 'question', 'guidance', :rows => 5, :class => 'standard'  %></p>

<%= render :partial => 'shared/edit_group', :locals => {:item => @question} %>

<%= render :partial => 'shared/edit_fieldnotes', :locals => {:item => @question} %>
