<h1 class="pagetitle">
  Question...
  <%= render :partial => 'shared/admin_buttons', :locals => {:item => @question, :inplace => true} %>
</h1>

<%= 
	image_tag(url_for_file_column("question", "image", "thumb"), :class => 'inlineleft', :size => "56x56", :alt => '') if @question.image
%>

<%= render :partial => 'ask', :locals => {:ask => @question} %>