<h1>
	Create a new question
</h1>

<% if @question.errors && !@question.errors.empty? %>
	<p class="haserror">
		<img src="/images/furniture/signals/warning.png" width="20" height="20" alt="Warning" style="float: left; margin-right: 3px;">
		Sorry: there were problems. Please check the highlighted fields and try again.</p>
<% end %>

<%= form_tag({:action => 'create'}, :id => 'questionform', :multipart => true) do %>
 <%= render :partial => 'form' %>
<% end %>
