<h1 class="pagetitle">Question</h1>

<form>
  <p><label for="node_body"><%= @question.prompt %></label><br />
    <%= text_area 'node', 'body', :rows => 12, :class => 'standard'  %>
  </p>
  
  <%= @question.guidance.formatted %>
  
</form>