<%= error_messages_for 'helptext' %>

<!--[form:helptext]-->
<p><label for="helptext_name">Name</label><br/>
<%= text_field 'helptext', 'name'  %></p>

<p><label for="helptext_body">Body</label><br/>
<%= text_area 'helptext', 'body'  %></p>
<!--[eoform:helptext]-->

