- item ||= @thing
- bundlings ||= item.contained_bundlings
- inactive ||= false
= render :partial => 'bundles/bundling', :collection => bundlings, :locals => {:inactive => inactive, :idprefix => 'bundled'}