- item ||= @thing
- item.taggings.each do |tagging| 
  - tag = tagging.tag
  %li{:id => "tagging_#{tagging.id}"}
    = link_to tag.name, collected_url_for(tag), :id => "taglist_tag_#{tag.id}", :class => "draggable tag", :title => "tag: #{tag.name}"
