<div class="header">
	<%= render :partial => 'shared/icon', :locals => { :this => full, :with_caption => false } %>
	<h1 class="pagetitle"><%= full.name %></h1>
</div>

<% if full.has_synopsis? %>
	  <%= full.synopsis.formatted %>
<% else %>
  <p>No summary given</p>
<% end %>

<%= render :partial => 'shared/show_file', :locals => {:item => full} %>
<%= render :partial => 'shared/show_clip', :locals => {:item => full} %>
<%= render :partial => 'shared/show_body', :locals => {:item => full} %>
