<table class="itemlist">
  <thead>
    <tr>
    <th class="pale">audio?</th>
    <th>Name</th>
    <th>Synopsis</th>
    <th>Main Speaker</th>
    <th>Duration</th>
    <th>Segments</th>
    <th>Actions</th>
    </tr>
  </thead>
  <tbody>
