<% 
	default = 'generic' unless default
	draggedid = "#{thumb.class.to_s.downcase}_#{thumb.id}" unless draggedid 
	caption = truncate(thumb.name, length=32, truncate_string='...') unless caption 
	with_caption = true unless with_caption
%>

<div class="thumb">
<%= render :partial => 'shared/icon', :locals => { 
	:this => thumb, 
	:with_caption => with_caption,
	:caption => caption,
	:draggedid => draggedid
} %>
</div>