<h1>Editing source</h1>

<%= start_form_tag ({:action => 'update', :id => @source}, :multipart => true) %>
  <%= render :partial => 'form' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @source %> |
<%= link_to 'Back', :action => 'list' %>
