<% @title = 'create source' %>

<div class="mainform">
<% form_for :source,
            :url => source_path(@source),
            :html => { 
              :multipart => true
            } do |f| 
%>

  <%= render :partial => 'form' %>

  <div class="formbuttons">
    <%= submit_tag "Create Document" %> or
    <%= link_to 'cancel', :action => 'index' %>
  </div>

<% end %>
</div>

<% content_for :admin do %>
  <p>
    back to <%= link_to 'sources list', sources_url %>
  </p>
<% end %>
