- @title = "Upload into #{current_collection.name}"

.preamble
  %p
    Each file you select - you can pick as many as you like in the file dialog - will begin to upload immediately. To add more to the queue, just click 'add files to upload queue' again.

  
#source_uploader.uploader
  .upload_queue
  .upload_controls
    .mainform
      %form.instructions{:action => current_collection ? collected_uploader_path_with_session : uploader_path_with_session}
        %p
          %label{:for => "collection_#{current_collection.id}_tags"}
            Choose or create tags
          %span.formnote
            to apply to the next batch of uploads.
          %input{:id => "collections_#{current_collection.id}_tags", :name => "tag_list", :class => "tagbox"}

        %button#swf_placeholder.chooser

.postamble

  %p
    When each upload is complete, you'll see a compact description form for that file. 
    %strong
      The source has been created, 
    but you probably need to fill in a better title and short description so that you can find it later.
    You can queue files and submit the description forms without interrupting the other uploads, but you mustn't close this page until they're all complete.


- content_for :admin do
  = render :partial => 'shared/show_admin'