<p class="small"><label for="scratchpad_name">scratchpad name:</label><br/>
<%= text_field 'scratchpad', 'name', :style => "width: 180px;" %> <input type="submit" value="change"> or <a href="#" class="cancel_rename">cancel</a>
</p>
