<% form_tag ({:controller => 'scratchpads', :action => 'create'}) do %>
  <p class="small"><label for="scratchpad_name">scratchpad name:</label><br/>
  <%= text_field_tag 'name', :style => "width: 180px;" %> <input type="submit" value="change"> or <a href="#" class="cancel_rename">cancel</a>
  </p>
<% end %>
