<% @title = @scratchpad.name %>

<p>A scratchpad belonging to <%= @scratchpad.creator.name %></p>

<div class="mainlist">
<%= render :partial => "scrap", :collection => @scratchpad.scraps %>
</div>

<%= link_to "delete this pad", scratchpad_path(@scratchpad), :method => :delete %>