<%= error_messages_for 'person' %>

<!--[form:person]-->
<p><label for="person_name">Name</label><br/>
<%= text_field 'person', 'name'  %></p>

<p><label for="person_description">Description</label><br/>
<%= text_area 'person', 'description'  %></p>
<!--[eoform:person]-->

