<div class="dragicon" style="background-image: url('<%= 
 if @thisnode.image
  url_for_file_column("thisnode", "image", "thumb") 
 else 
  "/images/drag/node.png"
 end
 %>');"><%= image_tag("/images/furniture/frames/white.png", :size => "75x75", :border => 0, :alt => '') %></div>

<div class="thumblabel">
  <strong><span class='nodename'><%= @thisnode.name %></span></strong>
</div>
