<%= truncate( item.find_some_text, 240 ) %><br />
<% if item.source %>
  Excerpted from <%= link_to (item.source.name, :controller => 'sources', :action => 'show', :id => item.source) %> 
<% else %>
  Loose fragment created 
<% end %>
by <%= link_to (item.creator.name, :controller => 'users', :action => 'show', :id => item.creator) if item.creator %>.