<table class="itemlist dragfrom">
  <thead>
    <tr>
    <th></th>
    <th>Name</th>
    <th>Synopsis</th>
    <th>Taken from</th>
    <th>By</th>
    <th>Duration</th>
    <th>Keywords</th>
    <th>Actions</th>
    </tr>
  </thead>
  <tbody id="nodelist">
