<h1 class="pagetitle">Edit fragment <%= link_to @node.name, :action => 'show', :id => @node %></h1>

<% form_tag({:action => 'update', :id => @node}, :multipart => true) do %>
  <%= render :partial => 'form' %>
<% end %>

