<%= render :partial => 'shared/list', :locals => { :pagetitle => 'Fragments', :list => @nodes } %>

<p class="small"><strong>Key:</strong><br />
  <span style="color: #823433;">&bull; Red</span> fragments have a warning attached to them (eg Chatham House rules apply, or there is a problem of clearance)<br />
  <span style="color: #FFCF48;">&bull; Yellow</span> fragments have no audio markers and will not play back properly<br />
  <span style="color: #fff; background-color: #999;">&bull; White</span> fragments are complete and have no warnings associated with them<br />
  <span style="color: #A0A500;">&bull; Green</span> fragments have been cleared for verbatim use
</p>
  
