<h1>Are you sure you want to completely remove the discussion topic <%= link_to @topic.name, :action => 'show', :id => @topic %>?</h1>

<p>This will also remove the <%= pluralize (@topic.posts.count-1, 'comment') %> attached to it. If that's what you want, please press the 'remove it all' button.</p>

<% form_tag( {:action => 'reallydestroy', :id => @topic, :forum_id => @forum}) do %>
  <input type="submit" class="bigredbutton" value="remove it all" /> or <%= link_to "cancel", :action => 'list' %>
<% end %>