<% @title = "start a conversation about <strong>#{@topic.referent.name}</strong>" %>

<div class="mainform">
  
  <%= error_messages_for :topic %>

  <% form_for :topic, :url => item_topics_path(@topic.referent) do |f| %>
    <%= render :partial => "form", :object => f %>
    <%= submit_tag 'Start conversation' %> or <%= link_to 'go back', url_for(@topic.referent) %>
  <% end -%>

</div>
