<h1>
  <%= @user_group.name %>
  <%= render :partial => 'shared/admin_buttons', :locals => {:item => @user_group} %>
</h1>

<% unless @user_group.description.nil? %><%= @user_group.description.formatted %><% end %>

<h2><%= pluralize(@users.size, 'member') %></h2>

<%= render :partial => 'users/list', :collection => @users %>

