Hello again <%= @user.name %>,

Your account at materiali.st has just been updated, so here's a reminder of your new login details:

  login page: http://materiali.st/login
  username: <%= @user.login %>
  password: <%= @user.password %>
  
We don't store your password except in an encrypted form, so keep this somewhere safe.

best,

will