Hello again <%= @user.name %>,

Your account at materiali.st has just been updated, so here's a reminder of your login details:

  login page: http://materiali.st/login
  username: <%= @user.login %>
  password: <%= @user.password %>
  
Keep this somewhere safe!

best,

will