Hello <%= @user.name %>,

Welcome to materiali.st! 

Thank you for all the clicking and tapping: your account is now active and you can get on with the collecting and combining.

Here's a reminder of your login:

  login page: http://materiali.st/login
  username: <%= @user.login %>
  password: <%= @user.password %>
  
Once you've logged in a couple of times we will forget the plaintext version of your password, so you may want to keep this somewhere safe!

best,

will