Hello <%= @user.name %>,

You are invited by <%= @inviter.name %> to join the <%= @user.account.name %> at materiali.st, where you will experience a joyful and life-transforming assembly of materials.

(This is the message that gets sent out when someone adds you to an existing account.)

To activate your login, go to

  <%= @url %>
  
To find out more...

To contact your inviter...

If you think there has been a mistake...