Hello <%= @user.name %>,

Welcome to materiali.st. This is the message that gets sent out when you sign yourself up. It ought to say something nice but it lacks social skills and feels shy.

To activate your account, go to

  <%= @url %>
  
  
