Hello <%= @user.name %>,

Welcome to materiali.st! An account has been set up for you and we've added a sample collection so that you can play around with it a bit. To activate the account and log yourself in, just go to:

  <%= @url %>
  
The system is all very new at the moment and lacks some of the help pages it ought to have. If you run into any trouble at all, write to on will@spanner.org.

thanks for your interest,

will  
