a.annotate, .annotated {
  color: #cc6e1f; }

a.create, .created {
  color: #5da454; }

a.edit, .edited {
  color: #cc6e1f; }

a.delete, .deleted {
  color: #d1005d; }

a.update {
  color: #cc6e1f; }

a.mildwarning {
  color: #d1005d; }

a.admin {
  color: #4d4e53; }

.warning {
  color: white;
  background-color: #d1005d; }

a.create:hover, a.edit:hover, a.delete:hover, a.annotate:hover, a.mildwarning:hover, a.admin:hover {
  color: #d1005d; }

a.warning:hover {
  color: #d1005d;
  background-color: white; }

.inactive {
  color: #4d4e53; }

.warnings {
  color: #cc6e1f; }

.greenlit {
  color: #5da454; }
