div.post h3 {
  color: #4d4e53;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1; }
div.post span.headernote {
  color: #8c8d8e;
  font-weight: lighter;
  font-size: 1em; }
div.post span.when {
  font-size: 11px; }
div.post a.quoteme {
  font-size: 11px;
  color: #d1005d; }

div.previewing h3 {
  color: #d1005d; }

div.topicbody, div.postbody {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted = !coolgrey11; }
  div.topicbody p,   div.postbody p {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.2em; }

div#replywrapper form {
  margin: 10px 0 20px 0; }

div.previewing {
  color: #d1005d; }
