div.mainform .formnote {
  font-size: 0.8em;
  line-height: 1.1;
  color: #8c8d8e; }
div.mainform .minorfield {
  font-size: 0.9em;
  line-height: 1.1;
  color: #4d4e53; }
div.mainform h2 {
  color: #d1005d; }
div.mainform fieldset {
  border: 1px dotted #cacac8;
  padding: 0 16px 0 16px;
  margin-bottom: 10px; }
  div.mainform fieldset legend {
    font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
    font-size: 22px;
    color: #cacac8; }
div.mainform fieldset.authentication {
  border: 1px solid = !rubinered;
  padding-top: 6px; }
  div.mainform fieldset.authentication label {
    color: #d1005d; }
div.mainform label {
  font-size: 18px;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  color: #4d4e53;
  clear: both; }
  div.mainform label a {
    color: #559dc4;
    text-decoration: none; }
div.mainform label.required {
  font-weight: bold; }
div.mainform input {
  color: black; }
div.mainform input.titular {
  font-family: Georgia, "Times New Roman", serif;
  color: #d1005d;
  width: 97%;
  height: 32px;
  font-size: 26px;
  line-height: 32px; }
div.mainform input.login {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 18px;
  width: 340px; }
div.mainform input.friendly {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 18px;
  width: 540px; }
div.mainform input.standard, div.mainform select.standard, div.mainform textarea.standard {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 18px;
  width: 97%; }
div.mainform input.tagbox {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 22px;
  line-height: 22px;
  width: 97%;
  color: #559dc4; }
div.mainform input.noborder {
  border: 0; }
div.mainform input.gobutton {
  height: 28px;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  font-size: 22px; }
div.mainform div.formbuttons {
  max-width: 640px;
  clear: both;
  text-align: right; }

div.floatspinner {
  background-image: url('/images/furniture/signals/wait_32_grey.gif');
  background-position: top left;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  margin: 10px;
  display: none; }

div.linkspinner {
  background-image: url('/images/furniture/signals/wait_16_grey.gif');
  width: 16px;
  height: 16px;
  position: absolute;
  display: none; }

/* ******* error reporting */
.haserror {
  border-left: 4px solid = !rubinered;
  margin-left: -16px;
  padding-left: 12px;
  color: #d1005d !important; }
  .haserror input, .haserror textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #d1005d; }
  .haserror label {
    color: #d1005d; }
