/* ******* default entity formatting and some generally useful display and layout control */
.clear {
  clear: both;
  margin: 20px 0 20px 0; }

.clearleft {
  clear: left;
  margin: 20px 0 20px 0; }

.pale {
  color: #8c8d8e; }

.error {
  color: #cc6e1f; }

.small {
  font-size: 0.7em;
  line-height: 1.4; }

.hide, .hidden, .temporary {
  display: none; }

.separator {
  color: white; }

.modifier {
  font-size: 0.7em;
  font-weight: bold; }

.showable {
  display: none; }

.notyet {
  text-decoration: line-through; }

img {
  border: 0;
  margin: 0;
  padding: 0; }

img.supered {
  vertical-align: top; }

td {
  vertical-align: top; }

a, a:link, a:visited {
  color: #559dc4;
  text-decoration: none; }

a.notyet, a.notyet:link, a.notyet:visited {
  text-decoration: line-through; }

a:hover {
  color: #d1005d; }

h1, h2, h3, h4 {
  font-weight: lighter;
  font-font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  line-height: 1.2;
  letter-spacing: -0.04em;
  clear: left;
  margin-bottom: 0;
  color: #4d4e53; }

h1 {
  font-size: 2em; }

h2, h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.2em; }

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none; }

blockquote {
  color: #8c8d8e;
  margin: 10px 10px 10px 0;
  padding-left: 10px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #8c8d8e; }

/* ******* furniture (mostly positioning) */
body {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.6;
  background-color: white;
  color: black;
  overflow-x: hidden; }

div#masthead {
  position: fixed;
  left: 0;
  top: 30px;
  width: 135px; }

div#mainpage {
  position: relative;
  width: 72%; }
  div#mainpage div#pagetitle {
    position: relative;
    margin: 36px 180px 20px 130px;
    max-width: 640px; }
    div#mainpage div#pagetitle h1 {
      font-size: 3em;
      line-height: 0.9;
      margin: 0;
      color: #d1005d; }
      div#mainpage div#pagetitle h1 span.header_icon img {
        vertical-align: top; }
    div#mainpage div#pagetitle h1.longtitle {
      font-size: 2.2em;
      padding-top: 0.8em; }
  div#mainpage div#canvas {
    position: relative;
    padding: 0;
    margin: 0 20px 40px 130px; }

div#mastfoot {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 39px;
  background-color: white;
  color: #d6d6d4; }

div#navigation {
  margin: 10px 100px 5px 125px; }
  div#navigation a, div#navigation a:link {
    padding: 4px 6px 10px 6px; }
  div#navigation a.fg {
    background: white url(/images/furniture/kobble/pointers/thislink.png) no-repeat center bottom;
    font-weight: bold; }
  div#navigation a.fg:hover {
    background-image: url(/images/furniture/kobble/pointers/thislink_pink.png); }
  div#navigation a.louder {
    color: #559dc4; }
  div#navigation a.pale {
    color: #8c8d8e; }
  div#navigation a.administrative {
    color: #4d4e53; }
  div#navigation a.administrative:hover {
    color: #d1005d; }
  div#navigation a.notyet {
    color: #8c8d8e; }

div#notification {
  position: fixed;
  left: 40px;
  bottom: 20px;
  width: 360px;
  z-index: 13000;
  visibility: hidden;
  background-color: #0c3;
  border: 3px solid #7FE699;
  color: white;
  padding: 10px 20px; }

div#notification.error {
  background-color: #c00;
  border: 3px solid #e67f00; }

div#admin {
  position: fixed;
  left: 20px;
  bottom: 12px;
  width: 100px;
  z-index: 12000; }

div#trashholder {
  position: fixed;
  left: 20px;
  bottom: 10px;
  height: 80px;
  width: 90px;
  z-index: 12000;
  visibility: hidden; }

div#trash {
  width: 90px;
  height: 80px;
  background-color: white;
  border: 1px solid red;
  color: red; }
  div#trash p {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    margin: 28px 6px 0 6px; }

div#trash.drophere {
  background-color: red;
  color: white; }

/* ******* navigation */
div#masthead ul.nav {
  position: relative;
  font-size: 14px;
  line-height: 1.4;
  color: #4d4e53;
  margin: 0;
  padding: 0; }
  div#masthead ul.nav li.mi {
    position: relative;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    padding: 1px;
    list-style: none;
    text-align: right; }
    div#masthead ul.nav li.mi a, div#masthead ul.nav li.mi a:visited {
      margin: 2px 10px 2px 2px;
      font-weight: lighter;
      color: #4d4e53; }
    div#masthead ul.nav li.mi a.emphatic, div#masthead ul.nav li.mi a.emphatic:visited {
      font-weight: bold;
      color: #d1005d; }
    div#masthead ul.nav li.mi a:hover {
      color: #d1005d; }
    div#masthead ul.nav li.mi ul.body {
      position: relative;
      text-align: left;
      overflow: hidden;
      color: #8c8d8e;
      background-color: white;
      padding: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-width: 3px;
      border-style: solid;
      border-color: #d1005d; }
      div#masthead ul.nav li.mi ul.body li {
        list-style: none; }
    div#masthead ul.nav li.mi ul.over {
      visibility: visible; }
    div#masthead ul.nav li.mi ul.out {
      visibility: hidden; }
  div#masthead ul.nav li#kobble_navigation.mi ul.body {
    display: inline;
    height: 18px; }
    div#masthead ul.nav li#kobble_navigation.mi ul.body li {
      display: inline;
      float: left; }
  div#masthead ul.nav li#account_navigation.mi ul.body {
    display: inline;
    height: 18px; }
    div#masthead ul.nav li#account_navigation.mi ul.body li {
      display: inline;
      float: left; }

/* ******* admin block (not much in here) */
div#admin ul {
  margin: 0;
  padding-left: 10px;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  line-height: 1.1;
  color: #8c8d8e;
  list-style: square; }

div#admin p {
  margin: 0;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.1;
  color: #8c8d8e; }

/* ******* colours denote actions past and present */
a.annotate, .annotated {
  color: #cc6e1f; }

a.create, .created {
  color: #5da454; }

a.edit, .edited {
  color: #cc6e1f; }

a.delete, .deleted {
  color: #d1005d; }

a.update {
  color: #cc6e1f; }

a.mildwarning {
  color: #d1005d; }

a.admin {
  color: #4d4e53; }

a.warning, .warning {
  color: white;
  background-color: #d1005d; }

a.create:hover, a.edit:hover, a.delete:hover, a.annotate:hover, a.mildwarning:hover, a.admin:hover {
  color: #d1005d; }

a.warning:hover {
  color: #d1005d;
  background-color: white; }

.inactive {
  color: #4d4e53; }

.warnings {
  color: #cc6e1f; }

.greenlit {
  color: #5da454; }

/* ******* list pages (also imports listicons) */
div.preamble {
  width: 85%; }

div.mainlist {
  clear: left; }
  div.mainlist ul {
    padding-left: 20px;
    color: #8c8d8e; }
    div.mainlist ul li {
      margin: 0 10px 4px 0;
      font-size: 16px;
      line-height: 24px;
      list-style-position: outside; }
      div.mainlist ul li img.flag {
        margin: 2px 0 0 0;
        vertical-align: top; }

/* list icons and colour-codes */
div.mainlist ul, div.wordlist ul {
  padding: 0; }
  div.mainlist ul li,   div.wordlist ul li {
    list-style: none;
    padding-left: 20px;
    font-size: 0.8em;
    line-height: 1.3; }
    div.mainlist ul li a,     div.wordlist ul li a {
      font-size: 1.6em;
      padding: 5px 5px 5px 20px;
      margin-left: -20px;
      background-position: 2px 5px;
      background-repeat: no-repeat; }
    div.mainlist ul li a:hover,     div.wordlist ul li a:hover {
      color: #d1005d; }
    div.mainlist ul li a.waiting,     div.wordlist ul li a.waiting {
      color: #8c8d8e;
      background-image: url(/images/furniture/signals/wait_16_grey.gif); }

div.wordlist ul li {
  display: inline;
  padding-left: 20px;
  margin-right: 10px; }

ul li a.collection {
  background-image: url(/images/furniture/kobble/16/blue/collection.png); }
ul li a.video {
  background-image: url(/images/furniture/kobble/16/blue/video.png); }
ul li a.audio {
  background-image: url(/images/furniture/kobble/16/blue/audio.png); }
ul li a.doc {
  background-image: url(/images/furniture/kobble/16/blue/text.png); }
ul li a.pdf {
  background-image: url(/images/furniture/kobble/16/blue/text.png); }
ul li a.ppt {
  background-image: url(/images/furniture/kobble/16/blue/ppt.png); }
ul li a.xls {
  background-image: url(/images/furniture/kobble/16/blue/xls.png); }
ul li a.text {
  background-image: url(/images/furniture/kobble/16/blue/text.png); }
ul li a.source {
  background-image: url(/images/furniture/kobble/16/blue/text.png); }
ul li a.node {
  background-image: url(/images/furniture/kobble/16/blue/node.png); }
ul li a.bundle {
  background-image: url(/images/furniture/kobble/16/blue/bundle.png); }
ul li a.user {
  background-image: url(/images/furniture/kobble/16/blue/person.png); }
ul li a.person {
  background-image: url(/images/furniture/kobble/16/blue/person.png); }
ul li a.tag {
  background-image: url(/images/furniture/kobble/16/blue/tag.png); }
ul li a.topic {
  background-image: url(/images/furniture/kobble/16/blue/topic.png); }
ul li a.post {
  background-image: url(/images/furniture/kobble/16/blue/post.png); }
ul li a.waiter {
  background-image: url(/images/furniture/signals/wait_16_grey.gif); }
ul li a.collection:hover {
  background-image: url(/images/furniture/kobble/16/pink/collection.png); }
ul li a.video:hover {
  background-image: url(/images/furniture/kobble/16/pink/video.png); }
ul li a.audio:hover {
  background-image: url(/images/furniture/kobble/16/pink/audio.png); }
ul li a.doc:hover {
  background-image: url(/images/furniture/kobble/16/pink/text.png); }
ul li a.pdf:hover {
  background-image: url(/images/furniture/kobble/16/pink/text.png); }
ul li a.text:hover {
  background-image: url(/images/furniture/kobble/16/pink/text.png); }
ul li a.source:hover {
  background-image: url(/images/furniture/kobble/16/pink/text.png); }
ul li a.node:hover {
  background-image: url(/images/furniture/kobble/16/pink/node.png); }
ul li a.bundle:hover {
  background-image: url(/images/furniture/kobble/16/pink/bundle.png); }
ul li a.user:hover {
  background-image: url(/images/furniture/kobble/16/pink/person.png); }
ul li a.person:hover {
  background-image: url(/images/furniture/kobble/16/pink/person.png); }
ul li a.tag:hover {
  background-image: url(/images/furniture/kobble/16/pink/tag.png); }
ul li a.topic:hover {
  background-image: url(/images/furniture/kobble/16/pink/topic.png); }
ul li a.post:hover {
  background-image: url(/images/furniture/kobble/16/pink/post.png); }

li.created a {
  color: #5da454; }
li.created a.collection {
  background-image: url(/images/furniture/kobble/16/green/collection.png); }
li.created a.video {
  background-image: url(/images/furniture/kobble/16/green/video.png); }
li.created a.audio {
  background-image: url(/images/furniture/kobble/16/green/audio.png); }
li.created a.doc {
  background-image: url(/images/furniture/kobble/16/green/text.png); }
li.created a.pdf {
  background-image: url(/images/furniture/kobble/16/green/text.png); }
li.created a.ppt {
  background-image: url(/images/furniture/kobble/16/green/ppt.png); }
li.created a.xls {
  background-image: url(/images/furniture/kobble/16/green/xls.png); }
li.created a.text {
  background-image: url(/images/furniture/kobble/16/green/text.png); }
li.created a.source {
  background-image: url(/images/furniture/kobble/16/green/text.png); }
li.created a.node {
  background-image: url(/images/furniture/kobble/16/green/node.png); }
li.created a.bundle {
  background-image: url(/images/furniture/kobble/16/green/bundle.png); }
li.created a.user {
  background-image: url(/images/furniture/kobble/16/green/person.png); }
li.created a.person {
  background-image: url(/images/furniture/kobble/16/green/person.png); }
li.created a.tag {
  background-image: url(/images/furniture/kobble/16/green/tag.png); }
li.created a.topic {
  background-image: url(/images/furniture/kobble/16/green/topic.png); }
li.created a.post {
  background-image: url(/images/furniture/kobble/16/green/post.png); }

li.updated a {
  color: #cc6e1f; }
li.updated a.collection {
  background-image: url(/images/furniture/kobble/16/orange/collection.png); }
li.updated a.video {
  background-image: url(/images/furniture/kobble/16/orange/video.png); }
li.updated a.audio {
  background-image: url(/images/furniture/kobble/16/orange/audio.png); }
li.updated a.doc {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.updated a.pdf {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.updated a.ppt {
  background-image: url(/images/furniture/kobble/16/orange/ppt.png); }
li.updated a.xls {
  background-image: url(/images/furniture/kobble/16/orange/xls.png); }
li.updated a.text {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.updated a.source {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.updated a.node {
  background-image: url(/images/furniture/kobble/16/orange/node.png); }
li.updated a.bundle {
  background-image: url(/images/furniture/kobble/16/orange/bundle.png); }
li.updated a.user {
  background-image: url(/images/furniture/kobble/16/orange/person.png); }
li.updated a.person {
  background-image: url(/images/furniture/kobble/16/orange/person.png); }
li.updated a.tag {
  background-image: url(/images/furniture/kobble/16/orange/tag.png); }
li.updated a.topic {
  background-image: url(/images/furniture/kobble/16/orange/topic.png); }
li.updated a.post {
  background-image: url(/images/furniture/kobble/16/orange/post.png); }

li.deleted {
  text-decoration: line-through;
  color: #cacac8; }
  li.deleted a {
    color: #8c8d8e; }
  li.deleted a.collection {
    background-image: url(/images/furniture/kobble/16/mid/collection.png); }
  li.deleted a.video {
    background-image: url(/images/furniture/kobble/16/mid/video.png); }
  li.deleted a.audio {
    background-image: url(/images/furniture/kobble/16/mid/audio.png); }
  li.deleted a.doc {
    background-image: url(/images/furniture/kobble/16/mid/text.png); }
  li.deleted a.pdf {
    background-image: url(/images/furniture/kobble/16/mid/text.png); }
  li.deleted a.ppt {
    background-image: url(/images/furniture/kobble/16/mid/ppt.png); }
  li.deleted a.xls {
    background-image: url(/images/furniture/kobble/16/mid/xls.png); }
  li.deleted a.text {
    background-image: url(/images/furniture/kobble/16/mid/text.png); }
  li.deleted a.source {
    background-image: url(/images/furniture/kobble/16/mid/text.png); }
  li.deleted a.node {
    background-image: url(/images/furniture/kobble/16/mid/node.png); }
  li.deleted a.bundle {
    background-image: url(/images/furniture/kobble/16/mid/bundle.png); }
  li.deleted a.user {
    background-image: url(/images/furniture/kobble/16/mid/person.png); }
  li.deleted a.person {
    background-image: url(/images/furniture/kobble/16/mid/person.png); }
  li.deleted a.tag {
    background-image: url(/images/furniture/kobble/16/mid/tag.png); }
  li.deleted a.topic {
    background-image: url(/images/furniture/kobble/16/mid/topic.png); }
  li.deleted a.post {
    background-image: url(/images/furniture/kobble/16/mid/post.png); }

li.annotated a {
  color: #cc6e1f; }
li.annotated a.collection {
  background-image: url(/images/furniture/kobble/16/orange/collection.png); }
li.annotated a.video {
  background-image: url(/images/furniture/kobble/16/orange/video.png); }
li.annotated a.audio {
  background-image: url(/images/furniture/kobble/16/orange/audio.png); }
li.annotated a.doc {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.annotated a.pdf {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.annotated a.ppt {
  background-image: url(/images/furniture/kobble/16/orange/ppt.png); }
li.annotated a.xls {
  background-image: url(/images/furniture/kobble/16/orange/xls.png); }
li.annotated a.text {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.annotated a.source {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.annotated a.node {
  background-image: url(/images/furniture/kobble/16/orange/node.png); }
li.annotated a.bundle {
  background-image: url(/images/furniture/kobble/16/orange/bundle.png); }
li.annotated a.user {
  background-image: url(/images/furniture/kobble/16/orange/person.png); }
li.annotated a.person {
  background-image: url(/images/furniture/kobble/16/orange/person.png); }
li.annotated a.tag {
  background-image: url(/images/furniture/kobble/16/orange/tag.png); }
li.annotated a.topic {
  background-image: url(/images/furniture/kobble/16/orange/topic.png); }
li.annotated a.post {
  background-image: url(/images/furniture/kobble/16/orange/post.png); }

ul.inactive li a {
  color: #8c8d8e; }
ul.inactive li a.collection {
  background-image: url(/images/furniture/kobble/16/mid/collection.png); }
ul.inactive li a.video {
  background-image: url(/images/furniture/kobble/16/mid/video.png); }
ul.inactive li a.audio {
  background-image: url(/images/furniture/kobble/16/mid/audio.png); }
ul.inactive li a.doc {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
ul.inactive li a.pdf {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
ul.inactive li a.ppt {
  background-image: url(/images/furniture/kobble/16/mid/ppt.png); }
ul.inactive li a.xls {
  background-image: url(/images/furniture/kobble/16/mid/xls.png); }
ul.inactive li a.text {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
ul.inactive li a.source {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
ul.inactive li a.node {
  background-image: url(/images/furniture/kobble/16/mid/node.png); }
ul.inactive li a.bundle {
  background-image: url(/images/furniture/kobble/16/mid/bundle.png); }
ul.inactive li a.user {
  background-image: url(/images/furniture/kobble/16/mid/person.png); }
ul.inactive li a.person {
  background-image: url(/images/furniture/kobble/16/mid/person.png); }
ul.inactive li a.tag {
  background-image: url(/images/furniture/kobble/16/mid/tag.png); }
ul.inactive li a.topic {
  background-image: url(/images/furniture/kobble/16/mid/topic.png); }
ul.inactive li a.post {
  background-image: url(/images/furniture/kobble/16/mid/post.png); }

/* gallery view */
div.gallery ul {
  margin: 0;
  padding: 0; }
div.gallery li {
  display: block;
  width: 143px;
  float: left; }
  div.gallery li img {
    margin: 4px; }

/* pagination */
.pagination {
  clear: both;
  margin: 16px 3px 20px 0;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.1;
  color: #8c8d8e; }
  .pagination a {
    color: #559dc4; }
  .pagination a:hover, .pagination a:active {
    color: #d1005d; }
  .pagination span.current {
    color: #4d4e53; }
  .pagination span.disabled {
    color: #8c8d8e; }

h3.listheader, h4.listheader {
  margin: 20px 0 10px 0;
  font-weight: bold;
  border-bottom-width: 3px;
  border-bottom-style: dotted;
  border-bottom-color: #4d4e53; }
  h3.listheader a.listhead,   h4.listheader a.listhead {
    color: #4d4e53; }
  h3.listheader a.listhead:hover,   h4.listheader a.listhead:hover {
    color: #d1005d; }

/* ******* scratchpad */
div#workbench {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  overflow: hidden;
  background-color: #4d4e53; }
  div#workbench form.benchform {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  div#workbench h3 {
    margin: 6px 6px 6px 26px;
    color: #8c8d8e; }
  div#workbench p.explanatory, div#workbench p.controls {
    position: absolute;
    padding: 10px;
    bottom: 0;
    font-size: 80%;
    margin: 0;
    color: #8c8d8e; }
  div#workbench p.controls {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    right: 25%;
    width: 120px;
    padding: 0;
    bottom: 0;
    font-size: 11px;
    margin: 0;
    color: #8c8d8e;
    text-align: right;
    line-height: 17px; }
    div#workbench p.controls a, div#workbench p.controls a:visited {
      background-color: #d1005d;
      color: white;
      padding: 3px; }
    div#workbench p.controls span.benchnote {
      display: inline;
      color: #4d4e53;
      padding: 3px; }
  div#workbench ul.benchlist {
    padding: 0;
    margin: 0;
    background-color: #4d4e53;
    height: 100%; }
    div#workbench ul.benchlist li {
      list-style: none;
      margin: 0;
      padding: 8px 6px 6px 26px;
      border-top-width: 1px;
      border-top-color: #58595e;
      border-top-style: solid; }
      div#workbench ul.benchlist li a, div#workbench ul.benchlist li a.draggable {
        display: block;
        font-size: 100%;
        color: #afafaf;
        font-weight: normal;
        line-height: 1.3;
        padding: 0 0 0 20px;
        margin-left: -20px;
        background-color: transparent;
        background-position: top left;
        background-repeat: no-repeat; }
      div#workbench ul.benchlist li a:hover {
        color: white; }
      div#workbench ul.benchlist li input.selector {
        display: none; }
      div#workbench ul.benchlist li a.waiting {
        background-image: url('/images/furniture/signals/wait_16_white.gif');
        color: #8c8d8e; }
    div#workbench ul.benchlist li.selected {
      background-color: #d1005d; }
      div#workbench ul.benchlist li.selected a, div#workbench ul.benchlist li.selected a:visited {
        color: white; }
      div#workbench ul.benchlist li.selected a.waiting {
        background-image: url('/images/furniture/signals/wait_16_on_pink.gif'); }
  div#workbench ul.receptive {
    border: 0;
    background-color: #47484d; }
  div#workbench ul.drophere {
    background-color: #d1005d; }
    div#workbench ul.drophere li {
      border-top-color: #dc0b68; }
  div#workbench ul.catcher {
    border: 0; }

li.bookmarked a.collection {
  background-image: url(/images/furniture/kobble/16/mid/collection.png); }
li.bookmarked a.video {
  background-image: url(/images/furniture/kobble/16/mid/video.png); }
li.bookmarked a.audio {
  background-image: url(/images/furniture/kobble/16/mid/audio.png); }
li.bookmarked a.doc {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
li.bookmarked a.pdf {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
li.bookmarked a.ppt {
  background-image: url(/images/furniture/kobble/16/mid/ppt.png); }
li.bookmarked a.xls {
  background-image: url(/images/furniture/kobble/16/mid/xls.png); }
li.bookmarked a.text {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
li.bookmarked a.source {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
li.bookmarked a.node {
  background-image: url(/images/furniture/kobble/16/mid/node.png); }
li.bookmarked a.bundle {
  background-image: url(/images/furniture/kobble/16/mid/bundle.png); }
li.bookmarked a.user {
  background-image: url(/images/furniture/kobble/16/mid/person.png); }
li.bookmarked a.person {
  background-image: url(/images/furniture/kobble/16/mid/person.png); }
li.bookmarked a.tag {
  background-image: url(/images/furniture/kobble/16/mid/tag.png); }
li.bookmarked a.topic {
  background-image: url(/images/furniture/kobble/16/mid/topic.png); }
li.bookmarked a.post {
  background-image: url(/images/furniture/kobble/16/mid/post.png); }
li.bookmarked a.collection:hover {
  background-image: url(/images/furniture/kobble/16/white/collection.png); }
li.bookmarked a.video:hover {
  background-image: url(/images/furniture/kobble/16/white/video.png); }
li.bookmarked a.audio:hover {
  background-image: url(/images/furniture/kobble/16/white/audio.png); }
li.bookmarked a.doc:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.bookmarked a.pdf:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.bookmarked a.text:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.bookmarked a.source:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.bookmarked a.node:hover {
  background-image: url(/images/furniture/kobble/16/white/node.png); }
li.bookmarked a.bundle:hover {
  background-image: url(/images/furniture/kobble/16/white/bundle.png); }
li.bookmarked a.user:hover {
  background-image: url(/images/furniture/kobble/16/white/person.png); }
li.bookmarked a.person:hover {
  background-image: url(/images/furniture/kobble/16/white/person.png); }
li.bookmarked a.tag:hover {
  background-image: url(/images/furniture/kobble/16/white/tag.png); }
li.bookmarked a.topic:hover {
  background-image: url(/images/furniture/kobble/16/white/topic.png); }
li.bookmarked a.post:hover {
  background-image: url(/images/furniture/kobble/16/white/post.png); }

li.selected a.collection {
  background-image: url(/images/furniture/kobble/16/white/collection.png); }
li.selected a.video {
  background-image: url(/images/furniture/kobble/16/white/video.png); }
li.selected a.audio {
  background-image: url(/images/furniture/kobble/16/white/audio.png); }
li.selected a.doc {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.selected a.pdf {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.selected a.ppt {
  background-image: url(/images/furniture/kobble/16/white/ppt.png); }
li.selected a.xls {
  background-image: url(/images/furniture/kobble/16/white/xls.png); }
li.selected a.text {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.selected a.source {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.selected a.node {
  background-image: url(/images/furniture/kobble/16/white/node.png); }
li.selected a.bundle {
  background-image: url(/images/furniture/kobble/16/white/bundle.png); }
li.selected a.user {
  background-image: url(/images/furniture/kobble/16/white/person.png); }
li.selected a.person {
  background-image: url(/images/furniture/kobble/16/white/person.png); }
li.selected a.tag {
  background-image: url(/images/furniture/kobble/16/white/tag.png); }
li.selected a.topic {
  background-image: url(/images/furniture/kobble/16/white/topic.png); }
li.selected a.post {
  background-image: url(/images/furniture/kobble/16/white/post.png); }
li.selected a.collection:hover {
  background-image: url(/images/furniture/kobble/16/white/collection.png); }
li.selected a.video:hover {
  background-image: url(/images/furniture/kobble/16/white/video.png); }
li.selected a.audio:hover {
  background-image: url(/images/furniture/kobble/16/white/audio.png); }
li.selected a.doc:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.selected a.pdf:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.selected a.text:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.selected a.source:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.selected a.node:hover {
  background-image: url(/images/furniture/kobble/16/white/node.png); }
li.selected a.bundle:hover {
  background-image: url(/images/furniture/kobble/16/white/bundle.png); }
li.selected a.user:hover {
  background-image: url(/images/furniture/kobble/16/white/person.png); }
li.selected a.person:hover {
  background-image: url(/images/furniture/kobble/16/white/person.png); }
li.selected a.tag:hover {
  background-image: url(/images/furniture/kobble/16/white/tag.png); }
li.selected a.topic:hover {
  background-image: url(/images/furniture/kobble/16/white/topic.png); }
li.selected a.post:hover {
  background-image: url(/images/furniture/kobble/16/white/post.png); }

/* ******* drag and drop signalling */
div.dragging {
  padding: 4px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-style: solid;
  border-width: 4px;
  border-color: #d1005d;
  background-color: white; }
  div.dragging a {
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: transparent;
    background-position: top left;
    background-repeat: no-repeat; }
  div.dragging a.collection {
    background-image: url(/images/furniture/kobble/16/blue/collection.png); }
  div.dragging a.video {
    background-image: url(/images/furniture/kobble/16/blue/video.png); }
  div.dragging a.audio {
    background-image: url(/images/furniture/kobble/16/blue/audio.png); }
  div.dragging a.doc {
    background-image: url(/images/furniture/kobble/16/blue/text.png); }
  div.dragging a.pdf {
    background-image: url(/images/furniture/kobble/16/blue/text.png); }
  div.dragging a.text {
    background-image: url(/images/furniture/kobble/16/blue/text.png); }
  div.dragging a.source {
    background-image: url(/images/furniture/kobble/16/blue/text.png); }
  div.dragging a.node {
    background-image: url(/images/furniture/kobble/16/blue/node.png); }
  div.dragging a.bundle {
    background-image: url(/images/furniture/kobble/16/blue/bundle.png); }
  div.dragging a.user {
    background-image: url(/images/furniture/kobble/16/blue/person.png); }
  div.dragging a.person {
    background-image: url(/images/furniture/kobble/16/blue/person.png); }
  div.dragging a.tag {
    background-image: url(/images/furniture/kobble/16/blue/tag.png); }
  div.dragging a.topic {
    background-image: url(/images/furniture/kobble/16/blue/topic.png); }
  div.dragging a.post {
    background-image: url(/images/furniture/kobble/16/blue/post.png); }
  div.dragging a.collection:hover {
    background-image: url(/images/furniture/kobble/16/pink/collection.png); }
  div.dragging a.video:hover {
    background-image: url(/images/furniture/kobble/16/pink/video.png); }
  div.dragging a.audio:hover {
    background-image: url(/images/furniture/kobble/16/pink/audio.png); }
  div.dragging a.doc:hover {
    background-image: url(/images/furniture/kobble/16/pink/text.png); }
  div.dragging a.pdf:hover {
    background-image: url(/images/furniture/kobble/16/pink/text.png); }
  div.dragging a.text:hover {
    background-image: url(/images/furniture/kobble/16/pink/text.png); }
  div.dragging a.source:hover {
    background-image: url(/images/furniture/kobble/16/pink/text.png); }
  div.dragging a.node:hover {
    background-image: url(/images/furniture/kobble/16/pink/node.png); }
  div.dragging a.bundle:hover {
    background-image: url(/images/furniture/kobble/16/pink/bundle.png); }
  div.dragging a.user:hover {
    background-image: url(/images/furniture/kobble/16/pink/person.png); }
  div.dragging a.person:hover {
    background-image: url(/images/furniture/kobble/16/pink/person.png); }
  div.dragging a.tag:hover {
    background-image: url(/images/furniture/kobble/16/pink/tag.png); }
  div.dragging a.topic:hover {
    background-image: url(/images/furniture/kobble/16/pink/topic.png); }
  div.dragging a.post:hover {
    background-image: url(/images/furniture/kobble/16/pink/post.png); }

ul.catcher {
  min-height: 24px;
  padding: 6px; }

.receptive {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #e2e1dd; }

.drophere {
  background-color: #f2dde6; }

li a.draggable {
  font-weight: bold;
  font-size: 120%; }

li.deleted a, span.deleted {
  text-decoration: line-through; }

/* ******* item detail pages */
div.player {
  width: 300px;
  height: 32px;
  margin: 8px 0; }

div.summary {
  clear: left;
  margin-bottom: 16px; }
  div.summary img.thumbnail {
    float: left;
    margin: 0 10px 6px 0; }

div.contentblock {
  clear: left; }
  div.contentblock p {
    margin-top: 0; }
  div.contentblock div.illustration {
    width: 240px;
    float: right;
    margin: 0 0 20px 40px; }

/* squeezebox */
h3.pagesection {
  margin: 0;
  clear: left; }
  h3.pagesection a.squeezebox {
    background: url(/images/furniture/kobble/pointers/rightarrow.png) center left no-repeat;
    color: #d1005d;
    padding: 0 0 0 12px; }
  h3.pagesection a.expanded {
    background: url(/images/furniture/kobble/pointers/downarrow.png) center left no-repeat; }
    h3.pagesection a.expanded span.headernote {
      display: none; }

div.squeezed {
  margin: 6px 0 6px 24px; }

h3.empty a {
  text-decoration: line-through; }

/* field notes */
div.fieldnote h4 {
  margin-top: 4px;
  margin-bottom: 0;
  clear: left; }

div.importantnote {
  font-weight: bold; }

div.badnote h4, div.badnote p {
  color: #d1005d; }

div.goodnote h4, div.goodnote p {
  color: #5da454; }

/* standard content formatting */
p.standfirst {
  font-weight: bold; }

p.subhead {
  margin: -4px 0 6px 0;
  font-size: 12px;
  font-family: 'HelveticaNeue-Roman', helvetica, arial, sans-serif;
  color: #4d4e53; }

div.synopsis {
  clear: left; }
  div.synopsis p {
    font-family: Helvetica, arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.3;
    color: #4d4e53;
    margin-top: 0; }

div.floatcolumn {
  float: right;
  width: 400px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 0;
  padding: 0; }

.headernote, .listnote {
  font-size: 0.7em;
  font-weight: lighter;
  color: #afafaf; }

img.gravatar {
  float: left;
  margin: 4px 10px 0 0; }

a.floating {
  float: right; }

/* ******* main edit forms */
div.mainform .formnote {
  font-size: 0.8em;
  line-height: 1.1;
  color: #8c8d8e; }
div.mainform .minorfield {
  font-size: 0.9em;
  line-height: 1.1;
  color: #4d4e53; }
div.mainform h2 {
  color: #d1005d; }
div.mainform fieldset {
  border: 1px dotted #cacac8;
  padding: 0 16px 0 16px;
  margin-bottom: 10px;
  margin-left: -16px; }
  div.mainform fieldset legend {
    font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
    font-size: 22px;
    color: #cacac8; }
div.mainform fieldset.authentication {
  border-width: 1px;
  border-style: solid;
  border-color: #d1005d;
  padding-top: 6px; }
  div.mainform fieldset.authentication label {
    color: #d1005d; }
div.mainform label {
  font-size: 18px;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  color: #4d4e53;
  clear: both; }
  div.mainform label a {
    color: #559dc4;
    text-decoration: none; }
div.mainform label.required {
  font-weight: bold; }
div.mainform input {
  color: black; }
div.mainform input.titular {
  font-family: Georgia, "Times New Roman", serif;
  color: #d1005d;
  width: 100%;
  height: 32px;
  font-size: 26px;
  line-height: 32px;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #8c8d8e; }
div.mainform input.login {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 18px;
  width: 340px;
  padding: 4px; }
div.mainform input.friendly {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 18px;
  width: 540px;
  padding: 4px; }
div.mainform input.standard, div.mainform select.standard, div.mainform textarea.standard {
  font-family: Georgia, "Times New Roman", serif;
  color: #4d4e53;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #8c8d8e; }
div.mainform input.tagbox {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 22px;
  line-height: 22px;
  width: 98%;
  padding: 4px;
  color: #559dc4;
  border-width: 1px;
  border-style: solid;
  border-color: #559dc4; }
div.mainform input.waiting {
  background-image: url('/images/furniture/signals/wait_16_grey.gif');
  background-position: center right;
  background-repeat: no-repeat; }
div.mainform input.noborder {
  border: 0; }
div.mainform input.gobutton {
  height: 28px;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  font-size: 22px; }
div.mainform div.formbuttons {
  clear: both;
  text-align: right; }
div.mainform table p {
  margin: 0; }
div.mainform table.twocolumn {
  width: 100%; }
  div.mainform table.twocolumn td {
    width: 50%; }
    div.mainform table.twocolumn td input {
      margin-right: 6px; }

div.floatspinner {
  background-image: url('/images/furniture/signals/wait_32_grey.gif');
  background-position: top left;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  margin: 10px;
  display: none; }

div.linkspinner {
  background-image: url('/images/furniture/signals/wait_16_grey.gif');
  width: 16px;
  height: 16px;
  position: absolute;
  display: none; }

div.modalform .notinline {
  display: none; }

/* ******* error reporting */
.haserror, div.mainform .haserror {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #d1005d;
  margin-left: -16px;
  padding-left: 12px;
  color: #d1005d; }
  .haserror input, .haserror textarea,   div.mainform .haserror input, div.mainform .haserror textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #d1005d; }
  .haserror label,   div.mainform .haserror label {
    color: #d1005d; }

/* ******* recovery or elimination form */
input.bigbutton {
  font-size: 2em;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  line-height: 44px;
  margin: 10px 20px;
  padding: 10px;
  color: #5da454; }

div.mildwarning input.bigbutton {
  color: #d1005d; }

/* ******* floating forms and controls */
a.snipper {
  font-size: 20px;
  font-weight: lighter;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  color: #5da454; }

div.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  cursor: pointer;
  z-index: 20000;
  opacity: 0; }

div.floater {
  position: absolute;
  visibility: hidden;
  left: 150px;
  top: 70px;
  width: 510px;
  padding: 0 10px;
  overflow: auto;
  background-color: white;
  border-width: 4px;
  border-style: solid;
  border-color: #d1005d;
  z-index: 21000;
  overflow: hidden; }
  div.floater h1 {
    height: 32px;
    overflow: hidden;
    margin: 20px 10px 6px 20px;
    color: #d1005d; }
  div.floater div.preamble {
    display: none; }
  div.floater div.modalform {
    width: 500px;
    overflow: hidden; }
  div.floater form {
    margin: 0 20px; }
    div.floater form fieldset {
      border: 0;
      padding: 0;
      margin: 0; }
      div.floater form fieldset legend {
        display: none; }
  div.floater a.canceller, div.floater a.canceller:visited {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    font-size: 20px;
    font-family: 'HelveticaNeue-Black', helvetica, arial, sans-serif;
    padding: 2px 2px 4px 2px;
    text-align: center;
    background-color: #d1005d;
    color: white; }

div.confirming {
  border-color: #5da454; }
  div.confirming a.canceller, div.confirming a.canceller:visited {
    background-color: #5da454; }

input.waiting {
  background: white url(/images/furniture/signals/wait_32_blue.gif) no-repeat center right; }

/* ****** tag cloud */
ul.cloud {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 20px; }
  ul.cloud li {
    display: inline;
    margin: 0;
    padding: 0; }
    ul.cloud li a {
      font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
      letter-spacing: -0.04em;
      white-space: nowrap;
      line-height: 20px; }
    ul.cloud li a:hover {
      color: #cc6e1f; }
    ul.cloud li a.cloud0 {
      font-size: 0.9em;
      color: #cfe4ee;
      font-family: 'HelveticaNeue-Roman', helvetica, arial, sans-serif; }
    ul.cloud li a.cloud1 {
      font-size: 1.2em;
      color: #b1d2e3;
      font-family: 'HelveticaNeue-Roman', helvetica, arial, sans-serif; }
    ul.cloud li a.cloud2 {
      font-size: 1.5em;
      color: #a0c8de; }
    ul.cloud li a.cloud3 {
      font-size: 1.8em;
      color: #85b8d5; }
    ul.cloud li a.cloud4 {
      font-size: 2.1em;
      color: #71adce; }
    ul.cloud li a.cloud5 {
      font-size: 2.4em;
      color: #559dc4; }
    ul.cloud li a.unpopular {
      display: none; }
  ul.cloud li.waiting a {
    color: #8c8d8e; }

/* ****** fancy checkboxes */
a.ticked, a.crossed, a.toggling {
  display: block;
  height: 16px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  letter-spacing: -0.05em;
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 3px; }

a.ticked {
  color: #5da454;
  background-image: url('/images/furniture/buttons/tick/green.png'); }

a.crossed {
  color: #ef4447;
  background-image: url('/images/furniture/buttons/cross/red.png'); }

a.toggling {
  color: #4d4e53;
  background-image: url('/images/furniture/signals/wait_16_grey.gif'); }

a.untoggle {
  font-weight: bold; }

img.flag {
  margin-right: 1px; }

/* ******* tag-suggester */
div.autocompleter-loading {
  float: left;
  clear: right;
  background: #fff url(/images/furniture/signals/wait_16_grey.gif) no-repeat center;
  width: 20px;
  height: 16px;
  display: none; }

ul.tagsuggestions {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #559dc4;
  color: white;
  text-align: left;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 14px; }
  ul.tagsuggestions li {
    position: relative;
    padding: 0.2em 1.5em 0.2em 1em;
    display: block;
    margin-top: -2px;
    cursor: pointer;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em; }
  ul.tagsuggestions li.autocompleter-selected {
    background-color: #d1005d;
    color: white; }
  ul.tagsuggestions span.autocompleter-queried {
    font-weight: bold; }

/* ******* discussion special cases */
div.post h3 {
  color: #4d4e53;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1; }
div.post span.headernote {
  color: #8c8d8e;
  font-weight: lighter;
  font-size: 1em; }
div.post span.when {
  font-size: 11px; }
div.post a.quoteme {
  font-size: 11px;
  color: #d1005d; }

div.previewing h3 {
  color: #d1005d; }

div.topicbody, div.postbody {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted = !coolgrey11; }
  div.topicbody p,   div.postbody p {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.2em; }

div#replywrapper form {
  margin: 10px 0 20px 0; }

div.previewing {
  color: #d1005d; }

/* ******* uploader progress bars */
.upload_controls {
  clear: both;
  margin-top: 32px; }

div.progressWrapper {
  width: 100%;
  margin: 2px 0;
  overflow: hidden;
  background-color: #4d4e53;
  color: white; }
  div.progressWrapper .progressContainer {
    position: relative;
    padding: 0;
    height: 46px;
    overflow: hidden; }
    div.progressWrapper .progressContainer .progressName {
      position: absolute;
      top: 6px;
      left: 6px;
      font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
      font-weight: bold;
      font-size: 1.1em;
      line-height: 1;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      z-index: 1000; }
      div.progressWrapper .progressContainer .progressName .progressStatus {
        font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif; }
    div.progressWrapper .progressContainer .progressBar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: #d1005d;
      z-index: 990; }
    div.progressWrapper .progressContainer a.progressCancel {
      font-size: 0;
      display: block;
      height: 14px;
      width: 14px;
      float: right; }
  div.progressWrapper .fileform {
    z-index: 1010;
    position: absolute;
    background-color: #d1005d;
    left: 120px;
    height: 46px;
    overflow: hidden;
    min-width: 400px; }
    div.progressWrapper .fileform td {
      padding: 2px 10px;
      overflow: hidden; }
    div.progressWrapper .fileform label {
      display: block;
      margin: 0;
      font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
      color: white;
      font-size: 75%;
      font-weight: bold; }
    div.progressWrapper .fileform input.textbox {
      font-family: Georgia, "Times New Roman", serif;
      width: 100%;
      padding: 3px;
      border: 1px solid #988A50; }
  div.progressWrapper p {
    margin: 0;
    padding: 4px;
    font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
    font-size: 0.8em;
    width: 100%;
    line-height: 1.1; }
  div.progressWrapper p.file_uploaded {
    font-size: 1.1em; }
    div.progressWrapper p.file_uploaded a {
      font-weight: bold;
      color: white; }
    div.progressWrapper p.file_uploaded span.tags {
      color: #95e38b;
      font-size: 80%; }
    div.progressWrapper p.file_uploaded img {
      float: left;
      margin: -4px 20px 0 4px; }

div.progressFinished {
  background-color: #5da454; }

div.progressFailed {
  background-color: #c00; }

.swfupload {
  vertical-align: top;
  cursor: hand; }

/* ******* search form */
div.searchform {
  font-family: 'HelveticaNeue-Roman', helvetica, arial, sans-serif;
  color: black;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  margin: 0 5px 10px 30px;
  clear: both;
  padding-top: 50px; }
  div.searchform h2 {
    margin: 0; }
  div.searchform label {
    font-size: 18px;
    font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    color: #4d4e53;
    clear: both; }
  div.searchform label.required {
    font-weight: bold;
    font-size: 30px; }
  div.searchform input.search {
    width: 77%;
    height: 28px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 22px;
    line-height: 22px;
    color: #d1005d;
    width: 100%; }
  div.searchform input.submit {
    height: 28px; }
  div.searchform h3, div.searchform p {
    margin-bottom: 0;
    color: #4d4e53; }
  div.searchform ul {
    margin: 0;
    padding: 0;
    font-size: 90%;
    color: #4d4e53; }
    div.searchform ul li {
      list-style: square inside; }
      div.searchform ul li span.explanatory {
        color: #8c8d8e; }

/* ******* search results */
li.significant a {
  font-weight: bold;
  font-size: 130%; }

div.mainlist ul li span.rating {
  font-size: 10px;
  color: #8c8d8e; }
  div.mainlist ul li span.rating a {
    font-size: 10px; }

/* ******* table formatting: only used for access control at the moment */
table.spacy {
  margin: 0;
  border: 0;
  border-collapse: collapse; }
  table.spacy tr td, table.spacy tr th {
    font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
    padding: 4px;
    font-weight: lighter;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e2e1dd; }
    table.spacy tr td a,     table.spacy tr th a {
      color: #4d4e53; }
    table.spacy tr td a:hover,     table.spacy tr th a:hover {
      color: #d1005d; }
  table.spacy tr td.emphatic a {
    font-weight: bold; }
