body {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.6;
  background-color: white;
  color: black;
  overflow-x: hidden; }

div#masthead {
  position: fixed;
  text-align: right;
  left: 0;
  top: 30px;
  height: 40px;
  width: 122px; }
  div#masthead p {
    font-size: 1.1em;
    line-height: 0.9;
    color: #4d4e53;
    margin: 0; }
  div#masthead a, div#masthead a:visited {
    color: #4d4e53; }
  div#masthead a.emphatic, div#masthead a.emphatic:visited {
    font-weight: bold;
    color: #d1005d; }

div#mainpage {
  position: relative;
  width: 72%; }
  div#mainpage div#pagetitle {
    position: relative;
    margin: 36px 180px 20px 130px;
    max-width: 640px; }
    div#mainpage div#pagetitle h1 {
      font-size: 3em;
      line-height: 1.1;
      margin: 0;
      color: #d1005d; }
      div#mainpage div#pagetitle h1 span.header_icon img {
        vertical-align: top; }
    div#mainpage div#pagetitle h1.longtitle {
      font-size: 2.2em;
      padding-top: 0.8em; }
  div#mainpage div#canvas {
    position: relative;
    padding: 0;
    margin: 0 20px 40px 130px; }

div#mastfoot {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 39px;
  background-color: white; }

div#navigation {
  margin: 10px 100px 5px 125px; }
  div#navigation a, div#navigation a:link {
    padding: 4px 6px 10px 6px; }
  div#navigation a.fg {
    background: white url(/images/furniture/kobble/pointers/thislink.png) no-repeat center bottom;
    font-weight: bold; }
  div#navigation a.louder {
    color: #559dc4; }
  div#navigation a.pale {
    color: #8c8d8e; }
  div#navigation a.administrative {
    color: #4d4e53; }
  div#navigation a.administrative:hover {
    color: #d1005d; }

div#notification {
  position: fixed;
  left: 40px;
  bottom: 20px;
  width: 360px;
  z-index: 13000;
  visibility: hidden;
  background-color: #0c3;
  border: 3px solid #7FE699;
  color: white;
  padding: 10px 20px; }

div#notification.error {
  background-color: #c00;
  border: 3px solid #e67f00; }

div#admin {
  position: fixed;
  left: 20px;
  bottom: 12px;
  width: 100px;
  z-index: 12000; }

div#trashholder {
  position: fixed;
  left: 20px;
  bottom: 10px;
  height: 80px;
  width: 90px;
  z-index: 12000;
  visibility: hidden; }

div#trash {
  width: 90px;
  height: 80px;
  background-color: white;
  border: 1px solid red;
  color: red; }
  div#trash p {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    margin: 28px 6px 0 6px; }

div#trash.drophere {
  background-color: red;
  color: white; }
