ul li a.collection {
  background-image: url(/images/furniture/kobble/16/blue/collection.png); }
ul li a.video {
  background-image: url(/images/furniture/kobble/16/blue/video.png); }
ul li a.audio {
  background-image: url(/images/furniture/kobble/16/blue/audio.png); }
ul li a.doc {
  background-image: url(/images/furniture/kobble/16/blue/text.png); }
ul li a.pdf {
  background-image: url(/images/furniture/kobble/16/blue/text.png); }
ul li a.text {
  background-image: url(/images/furniture/kobble/16/blue/text.png); }
ul li a.source {
  background-image: url(/images/furniture/kobble/16/blue/text.png); }
ul li a.node {
  background-image: url(/images/furniture/kobble/16/blue/node.png); }
ul li a.bundle {
  background-image: url(/images/furniture/kobble/16/blue/bundle.png); }
ul li a.user {
  background-image: url(/images/furniture/kobble/16/blue/person.png); }
ul li a.person {
  background-image: url(/images/furniture/kobble/16/blue/person.png); }
ul li a.tag {
  background-image: url(/images/furniture/kobble/16/blue/tag.png); }
ul li a.topic {
  background-image: url(/images/furniture/kobble/16/blue/topic.png); }
ul li a.post {
  background-image: url(/images/furniture/kobble/16/blue/post.png); }
ul li a.waiter {
  background-image: url(/images/furniture/signals/wait_16_grey.gif); }
ul li a.collection:hover {
  background-image: url(/images/furniture/kobble/16/pink/collection.png); }
ul li a.video:hover {
  background-image: url(/images/furniture/kobble/16/pink/video.png); }
ul li a.audio:hover {
  background-image: url(/images/furniture/kobble/16/pink/audio.png); }
ul li a.doc:hover {
  background-image: url(/images/furniture/kobble/16/pink/text.png); }
ul li a.pdf:hover {
  background-image: url(/images/furniture/kobble/16/pink/text.png); }
ul li a.text:hover {
  background-image: url(/images/furniture/kobble/16/pink/text.png); }
ul li a.source:hover {
  background-image: url(/images/furniture/kobble/16/pink/text.png); }
ul li a.node:hover {
  background-image: url(/images/furniture/kobble/16/pink/node.png); }
ul li a.bundle:hover {
  background-image: url(/images/furniture/kobble/16/pink/bundle.png); }
ul li a.user:hover {
  background-image: url(/images/furniture/kobble/16/pink/person.png); }
ul li a.person:hover {
  background-image: url(/images/furniture/kobble/16/pink/person.png); }
ul li a.tag:hover {
  background-image: url(/images/furniture/kobble/16/pink/tag.png); }
ul li a.topic:hover {
  background-image: url(/images/furniture/kobble/16/pink/topic.png); }
ul li a.post:hover {
  background-image: url(/images/furniture/kobble/16/pink/post.png); }

li.created a {
  color: #5da454; }
li.created a.collection {
  background-image: url(/images/furniture/kobble/16/green/collection.png); }
li.created a.video {
  background-image: url(/images/furniture/kobble/16/green/video.png); }
li.created a.audio {
  background-image: url(/images/furniture/kobble/16/green/audio.png); }
li.created a.doc {
  background-image: url(/images/furniture/kobble/16/green/text.png); }
li.created a.pdf {
  background-image: url(/images/furniture/kobble/16/green/text.png); }
li.created a.text {
  background-image: url(/images/furniture/kobble/16/green/text.png); }
li.created a.source {
  background-image: url(/images/furniture/kobble/16/green/text.png); }
li.created a.node {
  background-image: url(/images/furniture/kobble/16/green/node.png); }
li.created a.bundle {
  background-image: url(/images/furniture/kobble/16/green/bundle.png); }
li.created a.user {
  background-image: url(/images/furniture/kobble/16/green/person.png); }
li.created a.person {
  background-image: url(/images/furniture/kobble/16/green/person.png); }
li.created a.tag {
  background-image: url(/images/furniture/kobble/16/green/tag.png); }
li.created a.topic {
  background-image: url(/images/furniture/kobble/16/green/topic.png); }
li.created a.post {
  background-image: url(/images/furniture/kobble/16/green/post.png); }

li.updated a {
  color: #cc6e1f; }
li.updated a.collection {
  background-image: url(/images/furniture/kobble/16/orange/collection.png); }
li.updated a.video {
  background-image: url(/images/furniture/kobble/16/orange/video.png); }
li.updated a.audio {
  background-image: url(/images/furniture/kobble/16/orange/audio.png); }
li.updated a.doc {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.updated a.pdf {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.updated a.text {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.updated a.source {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.updated a.node {
  background-image: url(/images/furniture/kobble/16/orange/node.png); }
li.updated a.bundle {
  background-image: url(/images/furniture/kobble/16/orange/bundle.png); }
li.updated a.user {
  background-image: url(/images/furniture/kobble/16/orange/person.png); }
li.updated a.person {
  background-image: url(/images/furniture/kobble/16/orange/person.png); }
li.updated a.tag {
  background-image: url(/images/furniture/kobble/16/orange/tag.png); }
li.updated a.topic {
  background-image: url(/images/furniture/kobble/16/orange/topic.png); }
li.updated a.post {
  background-image: url(/images/furniture/kobble/16/orange/post.png); }

li.deleted {
  text-decoration: line-through;
  color: #cacac8; }
  li.deleted a {
    color: #8c8d8e; }
  li.deleted a.collection {
    background-image: url(/images/furniture/kobble/16/mid/collection.png); }
  li.deleted a.video {
    background-image: url(/images/furniture/kobble/16/mid/video.png); }
  li.deleted a.audio {
    background-image: url(/images/furniture/kobble/16/mid/audio.png); }
  li.deleted a.doc {
    background-image: url(/images/furniture/kobble/16/mid/text.png); }
  li.deleted a.pdf {
    background-image: url(/images/furniture/kobble/16/mid/text.png); }
  li.deleted a.text {
    background-image: url(/images/furniture/kobble/16/mid/text.png); }
  li.deleted a.source {
    background-image: url(/images/furniture/kobble/16/mid/text.png); }
  li.deleted a.node {
    background-image: url(/images/furniture/kobble/16/mid/node.png); }
  li.deleted a.bundle {
    background-image: url(/images/furniture/kobble/16/mid/bundle.png); }
  li.deleted a.user {
    background-image: url(/images/furniture/kobble/16/mid/person.png); }
  li.deleted a.person {
    background-image: url(/images/furniture/kobble/16/mid/person.png); }
  li.deleted a.tag {
    background-image: url(/images/furniture/kobble/16/mid/tag.png); }
  li.deleted a.topic {
    background-image: url(/images/furniture/kobble/16/mid/topic.png); }
  li.deleted a.post {
    background-image: url(/images/furniture/kobble/16/mid/post.png); }

li.annotated a {
  color: #cc6e1f; }
li.annotated a.collection {
  background-image: url(/images/furniture/kobble/16/orange/collection.png); }
li.annotated a.video {
  background-image: url(/images/furniture/kobble/16/orange/video.png); }
li.annotated a.audio {
  background-image: url(/images/furniture/kobble/16/orange/audio.png); }
li.annotated a.doc {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.annotated a.pdf {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.annotated a.text {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.annotated a.source {
  background-image: url(/images/furniture/kobble/16/orange/text.png); }
li.annotated a.node {
  background-image: url(/images/furniture/kobble/16/orange/node.png); }
li.annotated a.bundle {
  background-image: url(/images/furniture/kobble/16/orange/bundle.png); }
li.annotated a.user {
  background-image: url(/images/furniture/kobble/16/orange/person.png); }
li.annotated a.person {
  background-image: url(/images/furniture/kobble/16/orange/person.png); }
li.annotated a.tag {
  background-image: url(/images/furniture/kobble/16/orange/tag.png); }
li.annotated a.topic {
  background-image: url(/images/furniture/kobble/16/orange/topic.png); }
li.annotated a.post {
  background-image: url(/images/furniture/kobble/16/orange/post.png); }

ul.inactive li a {
  color: #8c8d8e; }
ul.inactive li a.collection {
  background-image: url(/images/furniture/kobble/16/mid/collection.png); }
ul.inactive li a.video {
  background-image: url(/images/furniture/kobble/16/mid/video.png); }
ul.inactive li a.audio {
  background-image: url(/images/furniture/kobble/16/mid/audio.png); }
ul.inactive li a.doc {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
ul.inactive li a.pdf {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
ul.inactive li a.text {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
ul.inactive li a.source {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
ul.inactive li a.node {
  background-image: url(/images/furniture/kobble/16/mid/node.png); }
ul.inactive li a.bundle {
  background-image: url(/images/furniture/kobble/16/mid/bundle.png); }
ul.inactive li a.user {
  background-image: url(/images/furniture/kobble/16/mid/person.png); }
ul.inactive li a.person {
  background-image: url(/images/furniture/kobble/16/mid/person.png); }
ul.inactive li a.tag {
  background-image: url(/images/furniture/kobble/16/mid/tag.png); }
ul.inactive li a.topic {
  background-image: url(/images/furniture/kobble/16/mid/topic.png); }
ul.inactive li a.post {
  background-image: url(/images/furniture/kobble/16/mid/post.png); }
