input.bigbutton {
  font-size: 2em;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  line-height: 44px;
  margin: 10px 20px;
  padding: 10px;
  color: #5da454; }

div.mildwarning input.bigbutton {
  color: #d1005d; }
