/* 
  sparrow layout: v1.0
  spark blue: #559DC4
  warm grey 11: #695D54
  spark orange: #CC6E1F
  warm grey 5: #B2AAA4
*/




body {
  margin:0;
  font-family: Helvetica, arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.6;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;  
}

.clear {
  clear:both;
  margin: 20px 0 20px 0;
}

.clearleft {
  clear:left;
  margin: 20px 0 20px 0;
}

.pale {
  color: #B2AAA4;
}

.warning, .error {
  color: #CC6E1F;
}

.small {
  font-size: 0.7em;
  line-height: 1.4;
}

img {
  border:0;
  margin:0;
  padding:0;
}

a, a:link, a:visited {
  color:#559DC4;
  text-decoration: none;
}

a:hover {
  color:#CC6E1F;
}

.hide, .hidden {
  display: none;
}

em {
	color: #CC6E1F;
}
/* standard formatting */

h1 {
  font-size: 26px;
  font-weight: lighter;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  letter-spacing: -0.04em;
  line-height:  1.2;
}

h2, h3, p.bigp {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: lighter;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  letter-spacing: -0.02em;
  line-height:  1.2;
}

h1.pagetitle {
  font-size: 36px;
  margin: 6px 0 10px 0;
}

h1 a {
  color: #B2AAA4;
  text-decoration: none;
}

span.hidden {
  display: none;
}

span.separator {
  color: white;
}

span.headernote {
  font-size: 16px;
  line-height: 16px;
  color: #B2AAA4;
}

h4 {
  font-size: 14px;
  font-weight: lighter;
  font-family: HelveticaNeue-Black, helvetica, arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 1.2;
  margin-bottom: 0;
}

.formnote {
  font-size: 0.7em;
  line-height: 1.1;
  color: #695D54;
}

blockquote {
  color: #695D54;
}

label {
  font-size: 18px;
  font-weight: lighter;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  color: #695D54;
  clear: both;
}

label a {
  color: #695D54;
  text-decoration: none;
}

a.displaycontrol {
  display: block;
  margin: 5px 0 0 0;
  color: #559DC4;
}

a.emptylist {
  color: #695D54;
}

div.slideable {
  margin: 0 0 20px 0;
}

blockquote {
  margin: 10px;
}

p.pagination {
  font-size: 0.8em;
  line-height: 1.1;
  color: #695D54;
}

/* layout and special formatting */

div.thumb, div.padthumb, div.headingthumb, div.setthumb, div.deleted, div.pending, div.waitingthumb {
	display: block;
	float: left;
  margin: 16px 16px 0 0;
	padding: 0;
	height: 108px;
	width: 68px;
}

div.label {
  font-size: 0.7em;
  line-height: 1.4;
  color: #695D54;
  text-decoration:none;
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
  text-align: center;
  padding: 4px;
}

div.icon div.label {
  width: 56px;
}

div.slide, div.waitingslide {
	display: block;
	float: left;
  margin: 16px 16px 0 0;
	padding: 0;
}

div.slidefront {
	margin: 0;
  font-family: Helvetica, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.3;
  color: #695D54;
	border: 1px solid #559DC4;
	padding: 8px;
	overflow: hidden;
	height: 135px;
	width: 135px;
	background-color: white;
}

div.slidefront p {
  margin: 10px;
	height: 115px;
	width: 115px;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.slide span.nodename {
  font-weight: bold;
}

.draggable {
  cursor: move;
/*  border: 2px solid transparent;*/
}

div.listrow {
  font-family: Helvetica, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.3;
  padding: 6px;
  clear: left;
}

div.odd {
/*  background-color: #eee;
*/}

div.listrow p {
  margin:0;
}

div.listrow h2 {
	margin: 6px 0 0 0;
}

div.listrow div.icon {
  float:left;
  margin-right: 10px;
  margin-bottom: 10px;
}

div.header div.icon {
  float:left;
  margin-right: 10px;
  margin-bottom: 0;
}

div.header {
	clear: both;
}

div.header h1 {
  padding: 0;
  padding-top: 14px;
  margin-bottom: 0;
}

div.header p {
  padding: 0;
  padding-bottom: 10px;
  margin-top: 0;
}

img.inlineleft {
  float: left;
  margin: 6px 12px 6px 0;
}

ul.starry {
  font-size: 16px;
  list-style-image: url(/images/furniture/icons/listicon_blue.png);
  padding: 0 0 0 24px;
  color: #695D54;
}

ul.starry li.waiting {
  list-style-image: url(/images/furniture/signals/wait_16_grey.gif);
  color: #695D54;
}

ul.starry li.add { list-style-image: url(/images/furniture/buttons/plus.png); }
ul.starry li.add a { color: #6cb262; }
ul.starry li.delete { list-style-image: url(/images/furniture/buttons/cross.png);}
ul.starry li.delete a { color: #ef4447; }
ul.starry li.edit { list-style-image: url(/images/furniture/buttons/circle.png); }
ul.starry li.edit a { color: #559DC4; }
ul.starry li.ticked { list-style-image: url(/images/furniture/buttons/tick.png); }
ul.starry li.ticked a { color: #6cb262; }
ul.starry li.crossed { list-style-image: url(/images/furniture/buttons/cross.png); }
ul.starry li.crossed a { color: #ef4447; }

input.editinplace, textarea.editinplace, select.editinplace {
  background-color: #559DC4;
  color: white;
}

input.bigredbutton {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
}

textarea.biganswer {
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 540px;
  height: 320px;
}

input.biganswer {
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 540px;
}

div#hide_synopsis {
	color: #559DC4;
}

div.dragicon { 
	z-index: 10000;
  margin: 0;
  width: 56px;
  height: 56px;
  border: 1px solid #559DC4;
}

div.inactive, div.inactive a {
  color: #B2AAA4;
}

.listfoot {
  clear: both;
  margin: 40px 0;
}

.pagination {
  font-size: 60%;
  color:#B2AAA4;
}

.footnote {
  color:#B2AAA4;
}

.emphatic {
  color:#559DC4;
}

h3.displaycontrol {
	margin: 0;
}

div.formbuttons {
  clear: both;
	margin: 40px 0 0 0;
}

form p, form h3, textarea.standard, select.standard, input.standard {
	width: 540px;
}

input.titular {
	width: 540px;
  height: 28px;
  font-family: HelveticaNeue-Roman, helvetica, arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
}

a.additem, a.edititem, a.removeitem, a.previewitem, a.ticked, a.crossed {
	display: block;
	height: 16px;
	font-size: 16px;
	line-height: 22px;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  letter-spacing: -0.05em;
	padding-left: 18px;
	background-repeat: no-repeat;
	background-position: top left;
	margin-bottom: 3px;
}
	
a.additem { 
	color: #6cb262;
	background-image: url('/images/furniture/buttons/plus.png');
}
a.edititem { 
	color: #559dc4; 
	background-image: url('/images/furniture/buttons/circle.png');
}
a.removeitem { 
	color: #ef4447; 
	background-image: url('/images/furniture/buttons/cross.png');
}
a.previewitem { 
	color: #a0a500; 
	background-image: url('/images/furniture/buttons/preview.png');
}
a.ticked { 
	color: #6cb262; 
	background-image: url('/images/furniture/buttons/tick.png');
}
a.crossed { 
	color: #ef4447; 
	background-image: url('/images/furniture/buttons/cross.png');
}
a.waiting {
  color: #695D54;
	background-image: url('/images/furniture/signals/wait_16_grey.gif');
}
a.minimal {
  padding-left: 0;
  width: 16px;
  margin: 0 4px 0 0;
}

#canvas {
	padding: 0;
	margin: 35px 60px 110px 83px;
}

#listing {
  margin: 0 0 60px 0;
}

#actions {
  position: fixed;
  left: 0;
	bottom: 65px;
  width: 100%;
  padding: 0 0 0 90px;
	height: 36px;
	background-image: url('/images/furniture/layout/whitefade.png');
	background-repeat: repeat-x;
	background-position: bottom left;
  color:white;
}

#actions p {
  margin: 14px 0 0 0;
}

#actions a, #actions a:link {
  font-size: 12px;
  overflow: hidden;
  color: #559DC4;
  font-family: helvetica, arial, sans;
  text-decoration:none;
  margin:10px 0 0 0;
}

#actions a:hover {
  color: #559DC4;
}

div#rightcolumn {
  width: 135px;
  float: right;
  margin: 0 0 20px 30px;
  font-size: 11px;
}

#mastfoot {
  position: absolute;
  left: 0;
  right: 0;
	bottom: 0;
	height: 65px;
  background-color: #559DC4;
	background-image: url(/images/furniture/layout/sandpool.jpg);
	background-repeat: repeat-x;
	background-position: center top;
} 

#logo {
  float: left;
  margin: 13px 23px 15px 18px;
}

#navigation {
  float: left;
}

#navigation a, #navigation a:link {
  display: block;
	float: left;
  margin: 0 1px 5px 0;
  padding: 4px 6px 4px 6px;
  background-color: white;
	background-repeat: repeat-x;
	background-position: top left;
	background-image: url(/images/furniture/layout/whitetabbg.png);
  text-decoration: none;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  color: #695D54;
  font-family: helvetica, arial, sans;
  overflow: hidden;
}

#navigation a.fg {
	background-image: none;
  height: 22px;
  padding-top:5px;
  color: #000;
}

#navigation a.louder {
  color: #559DC4;
}

#navigation a:hover {
  border: 0;
	background-image: url(/images/furniture/layout/orangetabbg.png);
  color: white;
}

#navigation a.fg:hover {
	background-image: none;
  color: #000;
}

#navigation a.action:hover {
	background-image: url(/images/furniture/layout/redtabbg.png);
}

#notification {
  clear: left;
  font-family: helvetica, arial, sans;
  color: white;
  font-size: 18px;
  line-height: 18px;
}

div.player {
  width: 300px;
  height: 32px;
	margin: 20px 0 20px 0;
}

div.dropcontents {
	min-height: 200px;
}

div.catcher {
  padding: 3px;
}

.drophere {
	background-color: #daf2ff;
/*  background-image: url(/images/furniture/icons/rounded.png);
  background-repeat: no-repeat;
  background-position: top left;
*/}

#scratchpad {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 34px;
  width: 500px;
  overflow: hidden;
  padding-left: 14px;
  background-image:  url(/images/furniture/layout/padshadow.png);
	background-repeat: no-repeat;
	background-position: 0 20px;
}

#scratchtabs {
  width: 490px;
  height:26px;
  overflow:hidden;
}

#scratchtabs a, #scratchtabs a:link {
  display: block;
	float: right;
  margin: 2px 1px 0 0;
  padding: 4px 6px 4px 6px;
  background-color: #695D54;
	background-repeat: repeat-x;
	background-position: bottom left;
	background-image: url(/images/furniture/layout/greytabbg.png);
  text-decoration: none;
  font-size: 12px;
  height: 17px;
  line-height: 16px;
  overflow: hidden;
  color: #fff;
  font-family: helvetica, arial, sans;
}

#scratchtabs a.red {
	background-image: url(/images/furniture/layout/upredtabbg.png);
  background-color: #9e0b0f;
}

#scratchtabs a.fg {
	background-image: none;
  height: 19px;
  color: #fff;
  margin-top: 0;
}

#scratchtabs a.editing {
	background-image: none;
  background-color:#559DC4;
  color: #fff;
  margin-top: 0;
}

#scratchtabs a.louder {
  color: #CC6E1F;
}

#scratchtabs a:hover {
  border: 0;
	background-image: url(/images/furniture/layout/uporangetabbg.png);
  color: white;
}

#scratchtabs a.fg:hover {
	background-image: none;
  color: #fff;
}

.receptive {
  background-color: #656a6a;
}

div.scratchpage {
  position:relative;
	width: 500px;
	height:1000px;
	margin: 0;
  overflow: hidden;
  background-color: #695D54;
  padding: 0;
}

div.scratchpage ul {
  margin: 0;
  color: white;
	padding: 0;
}

div.scratchpage li {
  height: 36px;
	overflow: hidden;
  list-style: none;
  margin: 0;
}

div.scratchpage li a {
  display: block;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
  padding: 8px 0 8px 3px;
  color: #fff;
}

div.scratchpage li a img {
  margin: 0 8px 0 0;
  float: left;
}

div.scratchpage li.waiting a, div.scratchpage li.action a, div.scratchpage li.down a {
  color: #B2AAA4;
}

div.scratchpage li a:hover {
  background-color: #CC6E1F;
  color: white;
}


div.mainlist {
}

div.mainlist ul {
  margin: 0;
  color: white;
	padding: 0;
  list-style: none;
}

div.mainlist li {
  list-style: none;
  margin: 0;
  padding: 6px 6px 6px 24px;
  background-image: url(/images/furniture/spoke/grey/node.png);
  background-position: 0 8px;
  background-repeat: no-repeat;
}

div.mainlist li a {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0 8px 3px;
  color: #695D54;
}

div.mainlist li a img {
  margin: 0 8px 0 0;
  float: left;
}

div.mainlist li.collection { background-image: url(/images/furniture/spoke/grey/collection.png); }
div.mainlist li.node { background-image: url(/images/furniture/spoke/grey/node.png); }
div.mainlist li.source { background-image: url(/images/furniture/spoke/grey/source.png); }
div.mainlist li.bundle { background-image: url(/images/furniture/spoke/grey/bundle.png); }
div.mainlist li.user { background-image: url(/images/furniture/spoke/grey/user.png); }
div.mainlist li.usergroup { background-image: url(/images/furniture/spoke/grey/usergroup.png); }
div.mainlist li.tag { background-image: url(/images/furniture/spoke/grey/tag.png); }
div.mainlist li.flag { background-image: url(/images/furniture/spoke/grey/flag.png); }
div.mainlist li.forum { background-image: url(/images/furniture/spoke/grey/forum.png); }
div.mainlist li.topic { background-image: url(/images/furniture/spoke/grey/post.png); }
div.mainlist li.post { background-image: url(/images/furniture/spoke/grey/post.png); }
div.mainlist li.blogentry { background-image: url(/images/furniture/spoke/grey/blogentry.png); }
div.mainlist li.question { background-image: url(/images/furniture/spoke/grey/question.png); }
div.mainlist li.answer { background-image: url(/images/furniture/spoke/grey/answer.png); }

ul.squashed li {
  display: inline;
}








div.boxed {
  border: 1px solid #B2AAA4;
  padding: 0 15px 5px 15px;
  margin: -1px 0 32px 0;
/*  overflow: hidden;*/
}

.boxhead {
  color: #B2AAA4;
}

div.boxtabs {
  margin: 0 0 0 7px;
  padding: 0;
  height:26px;
  overflow: hidden;
}

div.boxtabs a {
  display: block;
	float: left;
  margin: 2px 1px 0 0;
  padding: 4px 6px 4px 6px;
  background-color: white;
  color: #B2AAA4;
	background-repeat: repeat-x;
	background-position: bottom left;
	background-image: url(/images/furniture/layout/upwhitetabbg.png);
  text-decoration: none;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  font-family: helvetica, arial, sans;
  border: 1px solid #B2AAA4;
}

div.boxtabs a.fg {
	background-image: none;
  height: 19px;
  color: #695D54;
  margin-top: 0;
  border-bottom: white;
}

div.boxtabs a.inactive {
  color: #B2AAA4;
}

div.boxtabs a:hover {
	background-image: url(/images/furniture/layout/uporangetabbg.png);
  color: white;
}

div.boxtabs a.fg:hover {
	background-image: none;
  color: #695D54;
}








img.logo {
  padding:0;
  margin:0;
  margin-bottom:9px;
}

p.standfirst {
	font-weight: bold;
}

div.synopsis {
	clear: left;
}

div.synopsis p, div.marginal p, ul.marginal li {
  font-family: Helvetica, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.3;
	color: #695D54;
	margin-top: 0;
}

div.floatcolumn {
  float: right;
  width: 160px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 0;
  padding: 0;
}

div.floatcolumn h2 {
  margin: 0;
}


div.floatcolumn p, div.floatcolumn li {
/*	font-size: 80%;*/
}

div.marginblock {
	margin: 20px 0 0 0;
}

input.waiting {
 	background-image: url('/images/furniture/signals/wait_16_blue.gif');
 	background-position: center center;
 	background-repeat: no-repeat;
}

div.floatcolumn ul {
  margin: 0;
  list-style-image: url(/images/furniture/icons/listicon_blue.png);
  padding: 0 0 0 24px;
  line-height: 16px;
}

div.floatcolumn ul li.additem {
  list-style-image: url(/images/furniture/buttons/plus.png);
}

li.additem a, li.additem a:visited {
  color: #a0a500;
}

/* taglist */

div.taglist-holder
{
	position: absolute;
	background-image: url(/images/furniture/taglist/as_pointer.gif);
	background-position: top;
	background-repeat: no-repeat;
	padding: 10px 0 0 0;
}

div.taglist-holder div.taglist-header,
div.taglist-holder div.taglist-footer
{
	position: relative;
	height: 6px;
	padding: 0 6px;
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
}
div.taglist-holder div.taglist-header
{
	background-image: url(/images/furniture/taglist/ul_corner_tr.gif);
}
div.taglist-holder div.taglist-footer
{
	background-image: url(/images/furniture/taglist/ul_corner_br.gif);
}

div.taglist-holder div.taglist-header div.taglist-corner,
div.taglist-holder div.taglist-footer div.taglist-corner
{
  position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;
	background-position: top left;
	background-repeat: no-repeat;
}
div.taglist-holder div.taglist-header div.taglist-corner {
	background-image: url(/images/furniture/taglist/ul_corner_tl.gif);
}
div.taglist-holder div.taglist-footer div.taglist-corner
{
	background-image: url(/images/furniture/taglist/ul_corner_bl.gif);
}
div.taglist-holder div.taglist-header div.taglist-bar,
div.taglist-holder div.taglist-footer div.taglist-bar
{
	height: 6px;
	overflow: hidden;
	background-color: #695D54;
}

div.taglist-holder ul
{
	list-style: none;
	margin: 0 0 -4px 0;
	padding: 0;
	overflow: hidden;
	background-color: #695D54;
}

div.taglist-holder ul li
{
	color: #B2AAA4;
	padding: 0 0 0 10px;
	margin: 0;
	text-align: left;
}

div.taglist-holder ul li.taglist-highlight
{
	color: #fff;
	background-color: #559DC4;
}

div.taglist-holder ul li.taglist-warning
{
	font-weight: bold;
	text-align: center;
}

div.taglist-holder ul li em
{
	font-style: normal;
	color: #CC6E1F;
}

div.taglist-holder ul li.taglist-highlight em
{
	font-style: normal;
	color: #fff;
}



/* snipper and other floating dialogs */

#overlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}

#floater {
	position: absolute;
  left: 150px;
  top: 70px;
  width: 510px;
  max-height: 800px;
 	background-image: url('/images/furniture/layout/snipperbg.png');
 	background-position: bottom right;
 	background-repeat: no-repeat;
  padding: 0 10px;
  overflow: hidden;
}

#floater h1 {
  max-height: 56px;
  overflow: hidden;
  margin: 20px 10px 6px 20px;
  color: white;
}

#floater form {
  margin: 0 20px;
}

#floater form p {
  margin: 5px 0;
}

#floater a, #floater a:link; #floater a:visited {
  color: white;
}

#floater input.titular, #floater input.standard, #floater textarea.standard, #floater select.standard {
 	width: 460px;
	clear: both; 
}

#floater a.canceller, #floater a.canceller:visited {
  color: white;
  font-size: 20px;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  margin: 6px 10px 6px 20px;
}

#monitorform {
  padding: 3px;
  float: right;
}

div.renameform {
  background-color: #559DC4;
  border: 1px solid #559DC4;
  color: white;
}

div.renameform p {
  margin: 10px;
}

div.renameform label, div.renameform a {
  color: white;
}

div.bigspinner {
  width: 500px;
  height: 200px;
 	background-image: url('/images/furniture/signals/wait_32_ob.gif');
 	background-position: 10px 10px;
 	background-repeat: no-repeat;
}

li.waiter {
 	list-style-image: url('/images/furniture/signals/wait_og.gif');
}

div.instructions {
  float: right;
  width: 240px;
  margin: 0 10px 0 20px;
  color: #695D54;
}

div.instructions h2 {
  margin: 0;
}

div.instructions table {
  border: 1px solid #B2AAA4;
  border-collapse: collapse;
}

div.instructions table td {
  padding: 3px;
  border: 1px solid #B2AAA4;
}

p.description {
  clear:both; 
  margin: 0; 
  padding: 0 0 0 40px; 
  color: #695D54;
  font-size: 85%;
}


/* comments and comment form */

div.blogentry {
  width: 540px;
  
}

div.comments {
  width: 540px;
  
}

div.comment {
  margin: 0 0 12px 0;
  border: 1px solid #B2AAA4;
  padding: 8px;
  font-size: 85%;
  clear: both;
}

div.newcommentmarker {
  min-height: 20px;
}

div.comment p {
  margin: 0 0 6px 0;
}

p.commentheader
{
  margin-bottom: 0;
  font-size: 18px;
  font-weight: lighter;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  letter-spacing: -0.02em;
  line-height:  1.2;
}

p.commentheader img {
  float: left; 
  margin: 1px 6px 0 0;
}

p.commentheader img.icon {
  background-color:#695D54;
}

p.admin a {
  color:#559DC4;
}

p.admin img.icon {
  background-color:#559DC4;
}

div.comment textarea {
  width: 508px;
}

p.commentheader span.when {
  color: #B2AAA4;
}

h2 img.icon {
  float: left; 
  margin: 2px 6px 0 0;
}

div.editinplace {
  background-color: #ffe;
}

div.preview {
  background-color: #efe;
}

div.preview span.loud {
  color: #ff0;
}

div.preview a {
  color: #CC6E1F;
}

/* wrestled from beast */

p.online {margin-bottom:0;}

div.forum img.icon
{
	background:#696;
	background-image: url(/images/clearbits/bg_rounded.gif);
	background-repeat: no-repeat;
	vertical-align: bottom;
}
img.reply { float:right; }
img.orange { background-color:darkorange; }
img.grey { background-color:#B2AAA4; }
img.darkgrey { background-color:#695D54; }
img.green { background-color:#0c0;}
img.blue { background-color:#559DC4;}

.post .author .icon
{
	float:right;
}

.post .author .edit a
{
  font-size:0.7em;
  color:#666;
}

.post .author img {
	float:left; 
	margin-right:0.5em;
	}
.post .author
{
	border-top:2px solid #eee;
	padding:5px 10px;
	background:#eee;
	font-weight:bold;
	color:#333;
	font-size:0.9em;
	min-height:32px;
	width:10em;
	min-width:8em;
	vertical-align:top;
}

.post .author .posts,
.post .author .admin
{
	display:block;
	font-size:0.75em;
	color:black;
	color:#666;
}
.post .author a
{
	color:#333;
	text-decoration:none;
}
.post .author a.threadauthor
{
	color:#080;
}
.post .author a:hover
{
	color:#369;
	text-decoration:underline;
}

.post .date
{
	font-size:0.75em;
	color:#666;
	font-weight:normal;
	margin-bottom:0.5em;
}

.posts .post .body
{
	border-top:2px solid #eee;
	font-size:0.9em;
	padding:10px 20px;
}

.posts .post .body blockquote
{
	border:1px solid #cda;
	border-left:3px solid #9a7;
	border-right:0;
	background:#efc;
	padding:1px 10px;
	margin-left:0;
}

.posts .post .body pre
{
	font-size:0.8em;
	background:#eee;
	padding:5px 10px;
	border:1px solid #ccc;
	border-left:3px solid #ddd;
	border-right:0;
	overflow:auto;
	font-family: "Monaco", "Bitstream Vera Sans Mono", "Courier New", serif;
}

.posts .post .body a:hover { color:brown; }

.posts .post .body blockquote p
{
	margin:0.5em 0;	
}

.post .body p.topic
{
  font-size:0.8em;
  font-weight:bold;
  background:#eee;
  padding:2px 10px;
}





p.subtitle
{
  font-family: Helvetica, arial, sans-serif;
	font-size:0.75em;
	color:#888;
	margin-top:-0.8em;
}
p.subtitle img { vertical-align: bottom; }

div.stats
{
	margin-top:2em;
	background:#ded;
  font-family: Helvetica, arial, sans-serif;
	font-size:0.8em;
	padding:15px 15px;
	border:2px solid #393;
	border-width:1px 0;
}
div.stats .posts { float:right; text-align:right; }

div.nomugshot, div.mugshot {
  width: 135px;
  height: 135px;
  border: 1px solid #695D54;
  margin: 0 0 20px 0;
}

div.nomugshot {
	background-repeat: repeat-x;
	background-position: top left;
	background-image: url(/images/furniture/icons/default_mugshot.png);
}

div.nomugshot p {
  margin: 40px 14px;
  font-size: 10px;
}

a.pale, a.pale:visited {
  color: #B2AAA4;
}

/* tag cloud */

ul.cloud {
  list-style: none; 
  margin: 0;
  padding: 0;
  line-height: 20px;
}
ul.cloud li {display: inline; margin: 0; padding: 0;}
ul.cloud a {
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  letter-spacing: -0.04em;
  white-space: nowrap;
}
ul.cloud a:hover {
  color: #CC6E1F;
}

a.cloud1 {font-size: 0.9em; color: #cfe4ee; font-family: HelveticaNeue-Roman, helvetica, arial, sans-serif;}
a.cloud2 {font-size: 1.2em; color: #b1d2e3; font-family: HelveticaNeue-Roman, helvetica, arial, sans-serif;}
a.cloud3 {font-size: 1.5em; color: #a0c8de;}
a.cloud4 {font-size: 1.8em; color: #85b8d5;}
a.cloud5 {font-size: 2.1em; color: #71adce;}
a.cloud6 {font-size: 2.4em;}

/* signals */

div.previewing {
  background-color: #ebc5a5;
}

div.waiting {
 	background-image: url('/images/furniture/signals/wait_16_grey.gif');
 	background-position: 5px 5px;
 	background-repeat: no-repeat;
 	padding-left: 24px;
}

div.setdrop div.waiting {
 	background-image: url('/images/furniture/signals/wait_32_grey.gif');
 	background-position: 10px 10px;
 	width: 52px;
 	height: 52px;
}

div.waiting input {
  visibility: hidden;
}

/* bar charts thanks to http://www.standards-schmandards.com/exhibits/barchart/ */

table.chart {
  border-collapse: collapse;
	background-image:url(/images/furniture/charts/bg_fade.png);
	background-repeat:repeat-x;
	background-position:left top;
	width: 580px;
}

table.chart td.value {
	background-image: url(/images/furniture/charts/gridline58.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding:0;
	border-bottom: none;
	background-color:transparent;
	width: 500px;
	color: #695D54;
}

table.chart td {
	padding: 4px 6px;
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	background-color:#fff;
	width: 80px;
	white-space: nowrap;
	overflow: hidden;
}

table.chart td img {
	vertical-align: middle;
	margin: 5px 5px 5px 0;
}

td.last {
	border-bottom:1px solid #e5e5e5;
}

td.first {
	border-top:1px solid #e5e5e5;
}

.auraltext {
	position: absolute;
	font-size: 0;
	left: -1000px;
}

caption {
	font-size:90%;
	font-style:italic;
	text-align:left;
}

p.downloadlink {
  font-size: 24px;
  font-family: HelveticaNeue-Bold, helvetica, arial, sans-serif;
  font-weight: bold;
}

p.downloadlink img {
  float: left;
  margin: 0 10px 0 0;
}


/* general-purpose tree display */

div.tree {
	margin: 6px 0 3px 0;
	padding-left: 24px;
	background-image: url('/images/tree/_.gif');
	background-repeat: no-repeat;
	background-position: top left;
	min-height: 20px;
	clear: left;
}

div.branch {
	clear: left;
	margin: 0;
}

div.twig {
	width: 20px;
	padding: 0;
	margin: 0;
	float: left;
	height: 24px;
}

div.leaf {
	margin: 0;
	padding: 0;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	float: left;
	height: 24px;
	overflow: hidden;
	color: #666;
}

div.straight {
	background-image: url('/images/tree/I.gif');
	background-repeat: repeat-y;
	background-position: top left;
}

div.junction {
	background-image: url('/images/tree/I.gif');
	background-repeat: repeat-y;
	background-position: top left;
}

div.terminal {
	background-image: url('/images/tree/I.gif');
	background-repeat: no-repeat;
	background-position: top left;
}

span.countlabel {
  font-size: 9px;
  color: #695D54;
}