div.autocompleter-loading {
  float: left;
  clear: right;
  background: #fff url(/images/furniture/signals/wait_16_grey.gif) no-repeat center;
  width: 20px;
  height: 16px;
  display: none; }

ul.tagsuggestions {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #eee;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  text-align: left;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 14px;
  color: #4d4e53;
  margin-left: 5px; }
  ul.tagsuggestions li {
    position: relative;
    padding: 0.2em 1.5em 0.2em 1em;
    display: block;
    margin-top: -2px;
    cursor: pointer;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em; }
  ul.tagsuggestions li.autocompleter-selected {
    background-color: #559dc4;
    color: white; }
  ul.tagsuggestions span.autocompleter-queried {
    font-weight: bold; }
