a.ticked, a.crossed, a.toggling {
  display: block;
  height: 16px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  letter-spacing: -0.05em;
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 3px; }

a.ticked {
  color: #5da454;
  background-image: url('/images/furniture/buttons/tick/green.png'); }

a.crossed {
  color: #ef4447;
  background-image: url('/images/furniture/buttons/cross/red.png'); }

a.toggling {
  color: #4d4e53;
  background-image: url('/images/furniture/signals/wait_16_grey.gif'); }

a.untoggle {
  font-weight: bold; }

img.flag {
  margin-right: 1px; }
