.upload_controls {
  clear: both; }

.upload_queue {
  margin: 10px 0; }

div.progressWrapper {
  width: 100%;
  margin: 2px 0;
  overflow: hidden;
  background-color: #4d4e53;
  color: white; }
  div.progressWrapper .progressContainer {
    position: relative;
    padding: 0;
    height: 46px;
    overflow: hidden; }
    div.progressWrapper .progressContainer .progressName {
      position: absolute;
      top: 6px;
      left: 6px;
      font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
      font-weight: bold;
      font-size: 1.1em;
      line-height: 1;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      z-index: 1000; }
      div.progressWrapper .progressContainer .progressName img {
        float: left;
        margin: 0 6px 0 0; }
      div.progressWrapper .progressContainer .progressName .progressBarStatus {
        font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
        font-weight: lighter;
        color: #ff63c0;
        margin-left: 22px; }
    div.progressWrapper .progressContainer .progressBar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 5%;
      background-color: #d1005d;
      z-index: 990; }
    div.progressWrapper .progressContainer a.progressCancel {
      font-size: 0;
      display: block;
      height: 14px;
      width: 14px;
      float: right; }
  div.progressWrapper .fileform {
    z-index: 1010;
    position: absolute;
    background-color: #d1005d;
    left: 120px;
    height: 46px;
    overflow: hidden;
    min-width: 400px; }
    div.progressWrapper .fileform td {
      padding: 2px 10px;
      overflow: hidden; }
    div.progressWrapper .fileform label {
      display: block;
      margin: 0;
      font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
      color: white;
      font-size: 75%;
      font-weight: bold; }
    div.progressWrapper .fileform input.textbox {
      font-family: Georgia, "Times New Roman", serif;
      width: 100%;
      padding: 3px;
      border: 1px solid #988A50; }
    div.progressWrapper .fileform img {
      float: left;
      margin: 0 6px 0 0; }
  div.progressWrapper p {
    margin: 6px;
    font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
    font-size: 0.8em;
    width: 100%;
    line-height: 1.1; }
  div.progressWrapper p.file_uploaded {
    padding-left: 28px;
    background: transparent url("/images/furniture/buttons/tick/white.png") no-repeat top left;
    white-space: nowrap; }
    div.progressWrapper p.file_uploaded a {
      font-weight: bold;
      color: white;
      font-size: 125%; }
    div.progressWrapper p.file_uploaded span.tags {
      color: #95e38b; }

div.progressFinished {
  background-color: #5da454; }

div.progressFailed {
  background-color: #c00; }

.swfupload {
  vertical-align: top;
  cursor: hand; }
