div#workbench {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  overflow: hidden;
  background-color: #4d4e53; }
  div#workbench form.benchform {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  div#workbench h3 {
    margin: 6px 6px 6px 26px;
    color: #8c8d8e; }
  div#workbench p.explanatory {
    position: absolute;
    bottom: 0;
    font-size: 80%;
    padding: 10px;
    margin: 0;
    color: #8c8d8e; }
  div#workbench ul.benchlist {
    padding: 0;
    margin: 0;
    background-color: #4d4e53;
    height: 100%; }
    div#workbench ul.benchlist li {
      list-style: none;
      margin: 0;
      padding: 8px 6px 6px 26px;
      border-top-width: 1px;
      border-top-color: #58595e;
      border-top-style: solid; }
      div#workbench ul.benchlist li a, div#workbench ul.benchlist li a.draggable {
        display: block;
        font-size: 100%;
        color: #afafaf;
        font-weight: normal;
        line-height: 1.3;
        padding: 0 0 0 20px;
        margin-left: -20px;
        background-color: transparent;
        background-position: top left;
        background-repeat: no-repeat; }
      div#workbench ul.benchlist li a:hover {
        color: white; }
      div#workbench ul.benchlist li input.selector {
        display: none; }
      div#workbench ul.benchlist li a.waiting {
        background-image: url('/images/furniture/signals/wait_16_white.gif');
        color: #8c8d8e; }
  div#workbench ul.receptive {
    border: 0;
    background-color: #47484d; }
  div#workbench ul.drophere {
    background-color: #d1005d; }
    div#workbench ul.drophere li.alternate {
      background-color: #dc0b68; }
  div#workbench ul.catcher {
    border: 0; }

li.bookmarked a.collection {
  background-image: url(/images/furniture/kobble/16/mid/collection.png); }
li.bookmarked a.video {
  background-image: url(/images/furniture/kobble/16/mid/video.png); }
li.bookmarked a.audio {
  background-image: url(/images/furniture/kobble/16/mid/audio.png); }
li.bookmarked a.doc {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
li.bookmarked a.pdf {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
li.bookmarked a.text {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
li.bookmarked a.source {
  background-image: url(/images/furniture/kobble/16/mid/text.png); }
li.bookmarked a.node {
  background-image: url(/images/furniture/kobble/16/mid/node.png); }
li.bookmarked a.bundle {
  background-image: url(/images/furniture/kobble/16/mid/bundle.png); }
li.bookmarked a.user {
  background-image: url(/images/furniture/kobble/16/mid/person.png); }
li.bookmarked a.person {
  background-image: url(/images/furniture/kobble/16/mid/person.png); }
li.bookmarked a.tag {
  background-image: url(/images/furniture/kobble/16/mid/tag.png); }
li.bookmarked a.topic {
  background-image: url(/images/furniture/kobble/16/mid/topic.png); }
li.bookmarked a.post {
  background-image: url(/images/furniture/kobble/16/mid/post.png); }
li.bookmarked a.collection:hover {
  background-image: url(/images/furniture/kobble/16/white/collection.png); }
li.bookmarked a.video:hover {
  background-image: url(/images/furniture/kobble/16/white/video.png); }
li.bookmarked a.audio:hover {
  background-image: url(/images/furniture/kobble/16/white/audio.png); }
li.bookmarked a.doc:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.bookmarked a.pdf:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.bookmarked a.text:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.bookmarked a.source:hover {
  background-image: url(/images/furniture/kobble/16/white/text.png); }
li.bookmarked a.node:hover {
  background-image: url(/images/furniture/kobble/16/white/node.png); }
li.bookmarked a.bundle:hover {
  background-image: url(/images/furniture/kobble/16/white/bundle.png); }
li.bookmarked a.user:hover {
  background-image: url(/images/furniture/kobble/16/white/person.png); }
li.bookmarked a.person:hover {
  background-image: url(/images/furniture/kobble/16/white/person.png); }
li.bookmarked a.tag:hover {
  background-image: url(/images/furniture/kobble/16/white/tag.png); }
li.bookmarked a.topic:hover {
  background-image: url(/images/furniture/kobble/16/white/topic.png); }
li.bookmarked a.post:hover {
  background-image: url(/images/furniture/kobble/16/white/post.png); }
