Hello <%= @user.first_name %>.

<%= @message.wrapped_to(68) %>

_______________________________________

You are receiving this message because you're a member of the <%= @group.name %> group on the <%= @collection.name %> website, and your preferences indicate that you are happy to receive news by email. If you would like to change your preferences or group, please visit <%= @collection.url %>/me and follow the links you will find there.