<% if account_admin? %>
  <h2>
  	<a href="#" class="displaycontrol" id="show_activity">activity</a>
  </h2>
  <div class="marginal" id="hide_activity">
    <p>
    <% if @user.can_login? %>
    	login: <%= @user.login %><br />
    	activated? <%= @user.activated? ? 'yes' : 'no' %><br />
    	last logged in: <%= @user.logged_in_at || 'never' %><br />
    <% else %>
    	<em>non-login user</em><br />
    <% end %>
    </p>
  </div>
<% end %>