<% @user = user unless @user %>

<p><label for="user_firstname">Name</label><br/>
<%= text_field 'user', 'name', 'class' => "titular" %></p>

<p><label for="user_login">Email address</label><br/>
<%= text_field 'user', 'email', 'class' => "standard" %></p>
