<% @user = user unless @user %>

<p><label for="user_firstname">First name</label><br/>
<%= text_field 'user', 'firstname', 'class' => "standard" %></p>

<p><label for="user_lastname">Surname</label><br/>
<%= text_field 'user', 'lastname', 'class' => "standard" %></p>

<p><label for="user_login">Email address</label><br/>
<%= text_field 'user', 'email', 'class' => "standard" %></p>
