- item ||= @thing
- default_tag_list ||= ''
- taglist ||= item.tag_list || default_tag_list

- with_error_report(item.errors.on(:tags)) do
  %label{:for => "collection_#{current_collection.id}_tags"}
    Choose or create tags
  %span.formnote
    enter a comma-separated list. Spaces are fine.
  %input{:id => "collections_#{current_collection.id}_tags", :name => "tag_list", :class => "tagbox", :value => taglist}
