- item ||= @thing
- heading ||= 'Main Speaker'
- required ||= false
- help ||= false

- with_error_report(item.errors.on(:speaker)) do
  = f.label :speaker_id, heading, :class => required ? 'required' : 'optional'
  %span.formnote
    = link_to "create speaker*", new_person_url(:collection_id => item.collection), {:class => 'create inline', :id => "extend_thing_speaker_id"}
  = f.select(:speaker_id, current_collection.people.collect{|p| [p.name, p.id] }, {:include_blank => true}, {:class => 'standard'})
