<% 
  item ||= @thing
  heading ||= "#{item.class.nice_title.titlecase} name"
  cssclass ||= 'titular'
  addendum ||= ''
%>

<div class="formpart<%= ' witherrors' if item.errors.on(:name) %>">
  <label for="<%= item.class.to_s.downcase %>_name"<% if required %> class="required"<% end %>><%= heading %></label> <%= addendum %><br/>
  <%= f.text_field 'name', 'class' => cssclass %>
  <% if item.errors.on(:name) %><br />
    This <%= item.errors.on(:name).to_a.to_sentence %>
  <% end %>
</div>
