<div class="formpart<%= ' witherrors' if item.errors.on(:body) %>">
  <label for="<%= item.class.to_s.downcase %>_body">Text or transcript</label><br />
  <%= f.text_area 'body', {'rows' => 12, 'class' => "standard"} %>
  <% if item.errors.on(:body) %><br />
    This <%= item.errors.on(:body).to_a.to_sentence %>
  <% end %>
</div>
