<p>
  <label for="<%= item.class.to_s.underscore %>_collection_id">Collection:</label><br />
  <%= select(item.class.to_s.underscore, "collection_id", current_account.collections.collect{|s| [s.name, s.id] }, {:include_blank => true}, {:class => 'standard'}) %>
</p>
