<% @load_editing_scripts = true %>

<p>
  <label for="tag_list">Choose or create tags</label><br />
	<input id="tag_list" name="tag_list" class="tagbox" value="<%= item.tag_list %>" /><br />
	<span class="formnote">
		Start typing here and a drop-down list of matching tags will appear. 
		Click the one you want to use (or highlight it and press enter), or carry on typing to create a new one.
		To start another tag, type a comma.
	</span>
</p>