<% 
  item ||= @thing
  heading ||= "Email address"
  required ||= false
%>

<div class="formpart<%= ' witherrors' if item.errors.on(:email) %>">
  <label for="<%= item.class.to_s.downcase %>_name"<% if required %> class="required"<% end %>><%= heading %></label><br/>
  <%= f.text_field 'email', 'class' => "standard" %>
  <% if item.errors.on(:email) %><br />
    This <%= item.errors.on(:email).to_a.to_sentence %>
  <% end %>
</div>
