<a href="#" class="displaycontrol" id="show_clip">+ <%= item.clip ? 'edit' : 'add' %> audio or video</a>

<div id="hide_clip" class="slideable">
	<label for="<% item.class.to_s.downcase %>_clip">Upload a new clip: <%= file_column_field item.class.to_s.downcase, "clip" %></label><% if item.clip %><br />
	<span class="pale">current clip is <%= item.clip_relative_path %></span><% end %>
</div>
