<% @clipped = item %>

<a href="#" class="displaycontrol disappears" id="show_clip">+ <%= @clipped.clip ? 'edit' : 'add' %> audio or video</a>

<div id="hide_clip" class="slideable">
	<label for="<% @clipped.class.to_s.downcase %>_clip">Upload a new clip: <%= file_column_field "clipped", "clip" %></label><% if @clipped.clip %><br />
	<span class="pale">current clip is <%= @clipped.clip_relative_path %></span><% end %>
</div>
