<% item ||= @thing %>

<div class="formpart<%= ' witherrors' if item.errors.on(:occasion) %>">
  <label for="<%= item.class.to_s.underscore %>_speaker_id">Occasion or event</label> <%= link_to "create occasion*", new_occasion_url(:collection_id => item.collection), {:class=>'create inline', :id => "extend_#{item.class.to_s.downcase}_occasion_id"} %><br />
  <%= select(item.class.to_s.underscore, "occasion_id", current_collection.occasions.collect{|o| [o.name, o.id] }, {:include_blank => true}, {:class => 'standard'}) %>
  <% if item.errors.on(:occasion) %><br />
    This <%= item.errors.on(:occasion).to_a.to_sentence %>
  <% end %>
</div>
