<% @sourced = item %>

<h3><a href="#" class="displaycontrol" id="show_source">+ choose source document</a></h3>

<div id="hide_source">
  <p>
	<label for="node_source_id">Taken from:</label><br />
  <%= select("sourced", "source_id", @current_collection.sources.collect{|u| [u.name, u.id] }, {:include_blank => true}, {:class => 'standard'}) %>
	</p>
</div>
