<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>Device: <%= controller.action_name %></title>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/inplace.js"></script>
  <script type="text/javascript" src="/js/device.js"></script>
  <script type="text/javascript" src="/js/textile.js"></script>
  <script type="text/javascript" src="/js/workbench.js"></script>
  <script type="text/javascript" src="/js/interface/iutil.js"></script>
  <script type="text/javascript" src="/js/interface/iselect.js"></script>
  <script type="text/javascript" src="/js/interface/idrag.js"></script>
  <script type="text/javascript" src="/js/interface/idrop.js"></script>
  <script type="text/javascript" src="/js/wick.js"></script>
  <link rel="stylesheet" href="/stylesheets/device.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/inplace.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/wick.css" type="text/css" />
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
