<% 
	linked = this unless linked
	default = 'generic' unless default
	draggedid = "icon_#{linked.class.to_s.downcase}_#{linked.id}" unless draggedid 
	caption = truncate(linked.name, length=32, truncate_string='...') unless caption 
	with_caption = false unless with_caption
%>

<%= image_tag "/images/furniture/spoke/grey/#{this.class.to_s.downcase}.png", {:width => 16, :height => 16} %>