<% if @thing && @thing.has_image? %>
  <%= link_to image_tag(url_for_file_column("thing", "image", "thumb"), {:alt => @thing.name, :class => 'thumbnail'}), url_for_file_column('thing', "image", "preview"), {:rel => 'lightbox'}  %>
<% end %>
