<li id="<%= list.class.to_s.downcase %>_<%= list.id %>" class="<%= list.class.to_s.downcase %> draggable expandable">
  <%= link_to( "#{list.name}", {:controller => list.class.to_s.downcase.pluralize, :action => 'show', :id => list}) %>
</li>
