<div id="<%= tabset %>_topics">
  <h2 class="boxhead">conversations</h2>
	<ul class="starry">
	<% if item.has_topics? %>
		<%= render :partial => "topics/minilist", :collection => item.topics %>
	<% end %>
	<li class="add"><%= link_to "start a conversation about this #{item.class.to_s.downcase}", {:controller => 'topics', :action => 'new', :forum_id => current_collection.editorial_forum, :subject_type => item.class.to_s, :subject_id => item.id} %> (highlight text to quote)</li>
</ul>
</div>
