<% tabset ||= 'tabs' %>
<% if item.has_image? %>
	<div id="<%= tabset %>_image">
	  <h2 class="boxhead">image</h2>
  	<%= image_tag(url_for_file_column(item.class.to_s.downcase, "image", "preview"), :alt => '') %>
	</div>
<% end %>
