<h2>
	<a href="#" class="displaycontrol<% if item.circumstances.nil? or item.circumstances.length == 0 %> emptylist<% end %>" id="show_circumstances">+ circumstances</a>
</h2>

 <div class="marginal" id="hide_circumstances">
	<% if item.circumstances.nil? or item.circumstances.length %>
		<p>None given</p>
	<% else %>
		<%= item.circumstances.formatted %>
	<% end %>
</div>
