<% tabset ||= 'tabs' %>
<div id="<%= tabset %>_nodes" class="mainlist">
  <p>You can drag these onto a scratchpad or drop tags on them.</p>
  <ul id="nodelist">
    <% if item.nodes.count %>
      <%= render :partial => 'shared/listed', :collection => item.nodes %>
    <% else %>
      Extract a fragment from this and it will appear here.
    <% end %>
  </ul>
</div>
