<%= link_to "edit" , {:controller => item.class.to_s.pluralize.underscore, :action => 'edit', :id => item} %><br />
<% if item.is_discussable? %>
  <%= link_to "discuss", item_new_topic_url(item), {:class => 'inlinediscuss'} %><br />
<% end %>
<%= link_to "delete", {:controller => item.class.to_s.pluralize.underscore, :action => 'destroy', :id => item}, {:class => 'warning', :confirm => "do you really want to completely get rid of the #{item.class.nice_title} #{item.name}?"} %><br />
<%= link_to "create", {:controller => item.class.to_s.pluralize.underscore, :action => 'new'}, {:class => 'create'} %><br />


