<% if item.has_body? %>
	<div id="<%= tabset %>_body">
	  <h2 class="boxhead">formatted text or transcript (best for reading)</h2>
	  <%= item.body.formatted %>
	</div>

	<div id="<%= tabset %>_raw">
	  <h2 class="boxhead">unformatted text (best for snipping)</h2>
	  <div class="">
	  <%= simple_format(item.body) %>
	  </div>
	</div>
<% end %>
