<%
  item ||= @thing
  pictured = item.class == User ? item : item.creator
  src = pictured.has_image? ? pictured.image.url(:thumb) : '/images/furniture/icons/nomugshot.jpg'
%>
<%= link_to image_tag(src, {:alt => pictured.name, :class => 'mugshot', :size => '42x42'}), url_for(pictured) %>
