<% controller.views.select{|view| view != 'list'}.each do |view| %>
  <%= link_to_unless_current view, :action => view, :page => params[:page] %> &middot;
<% end %>
<%= link_to_unless_current 'list', :action => 'index', :page => params[:page] %>
