<span class="viewcontrol">
  <% controller.views.each do |view| %>
    <%= link_to_unless_current view, :action => view %> |
  <% end %>
  <%= link_to_unless_current 'list', :action => 'index' %>
</span>
