<% if editor? || item.has_warnings? %>
  <div id="<%= tabset %>_warnings">
	  <h2 class="boxhead">warnings and other markers</h2>
    	<ul class="starry">
    	<% if item.has_warnings? %>
    		<%= render :partial => "warnings/minilist", :collection => item.warnings %>
    	<% end %>
    	<% if editor? %>
    	  <li class="add"><%= link_to "add a warning to this #{iten.class.to_s.downcase}", '#' %>
      <% end %>
    </ul>
	</div>
<% end %>
