<% for column in Warning.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @warning.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @warning %> |
<%= link_to 'Back', :action => 'list' %>
