<p class="warning">
  <strong><%= summary.name %></strong><br />
  <%= summary.body %><br />
  <span class="small">
    <%= link_to 'edit', :controller => 'flags', :action => 'edit', :id => summary %> |
    <%= link_to 'remove', :controller => 'flags', :action => 'destroy', :id => summary %>
  </span>
</p>