<%= error_messages_for 'tag' %>

<!--[form:keyword]-->
<p><label for="tag_parentage">Keyword name (and family tree)</label><br />
<input type="text" id="tag_parentage" name="parentage" size="50" value="<%= @tag.parentage %>" style="width: 360px;" class="wickEnabled"/><br />
</p>

<p><label for="keyword_description">Description</label><br />
<%= text_area 'tag', 'description', :rows => 6, :style => 'width: 360px;'  %></p>
<!--[eoform:keyword]-->

