<li id="tag_<%= minilist.id %>" class="draggable">
	<img src="/images/furniture/icons/listicon_grey.png" width="16" height="16" alt="*" class="handle" />
  <%= link_to( minilist.name, {:controller => 'tags', :action => 'show', :id => minilist}) %>
	
	<div class="thumb" style="display:none;">
	<%= render :partial => 'shared/icon', :locals => { 
		:this => minilist, 
		:with_caption => false,
	} %>
	</div>
</li>