<h1>Busymap</h1>

<p>This is an experiment in using a treemap to display keyword weight.</p>

<div id="treemapholder">
<%= build_treemap(@kwtree, {
  :width => 600,
  :height => 400,
  :padding => 3,
  :spacing => 2,
  :cache => false,
  :root => 1,
}) %>
</div>

<p>detail:<br />
  least <% (1..5).each do |i| %>  
<input type="radio" name="detail" value="<%= i %>" onclick="set_detail(<%= i %>)" <%= 'checked' if i == 3 %>>
  <% end %> most
</p>