<table class="itemlist">
  <thead>
    <tr>
    <th>name</th>
    <th>login</th>
    <th>email</th>
    <th>recordings</th>
    <th>snippets</th>
    <th>sets</th>
    <th>tags</th>
    </tr>
  </thead>
  <tbody>
