<% @title = "Preferences" %>

<p>This page will gather together many of the options that are scattered around the site, such as email notifications, whether to display the floating summaries, whether to ask for confirmation of drag and drop operations.</p>