<%= render :partial => 'member', :collection => @bundle.members %>
<div class="waiting waiting<%= @display %>"><%= image_tag "/images/furniture/signals/wait_32_grey.gif", :style => 'margin: 12px;' %></div>
