<%= error_messages_for 'bundle' %>

<!--[form:bundle]-->

<p style="clear: both;"><label for="bundle_name">Give the set a name</label><br/>
<%= text_field 'bundle', 'name', :class => "standard" %></p>

<p><label for="bundle_body">Description or explanation</label><br />
<%= text_area 'bundle', 'body', 'rows' => 12, :class => "standard" %>
</p>

<%= render :partial => 'shared/edit_tags', :locals => {:item => @bundle} %>

<%= submit_tag "Store Set" %>
