<table class="itemlist" class="dragfrom">
  <thead>
    <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Type</th>
    <th>Blong</th>
    <th>Summary</th>
    <th>Contents</th>
    <th>Keywords</th>
    <th>Actions</th>
    </tr>
  </thead>
  <tbody>
