- item ||= @thing
- members ||= item.members
- inactive ||= false
- ulclass = inactive ? 'inactive' : 'catcher'
- catches = inactive ? '' : item.catchlist

%h3.pagesection
  %a{:href => "#", :class => "squeezebox"}
    contents 
    %span.headernote
      = pluralize(members.length, 'members')

%div{:id => 'bundle_members', :class => 'squeezed contentblock'}
  .mainlist
    %ul{:id => "members_bundle_#{item.id}", :class => ulclass, :catches => catches}
      = render :partial => 'shared/listed', :collection => members, :locals => {:inactive => inactive}
    - if inactive
      %p.listnote
        This list will be editable by drag and drop once the set has been created.
    - else
      %p.listnote
        Drag items into or out of this list to edit the set.
