<div id="bundle_<%= @bundle.id %>" class="dragtofrom" style="clear:both;">

  <div class="activearea">
  	<%= render :partial => 'bundles/member', :collection => @bundle.members %>
  </div>
  <p class="addhere small" style="clear: both; padding-top: 60px;">Drag items into or out of this space to edit the set.</p>

</div>

<div style="clear: both">
	<%= @bundle.body.formatted %>
</div>
