<%= render :partial => 'member', :collection => @bundle.members %>
<div class="waitforit"><h2><img src="/images/furniture/signals/wait_32.gif" width="32" height="32" alt="Wait for it" style="float: left;"> working</h2></div>
<p class="bigp pale" style="clear: both; padding-top: 30px;">Drag items into or out of this space to edit the set.</p>
