<h1>Edit <%= link_to @bundle.name, :action => 'show', :id => @bundle.id %></h1>

<%= form_tag( {:action => 'update', :id => @bundle}, :id => 'bundleform', :multipart => true) %>
 <%= render :partial => 'form' %>
<%= end_form_tag %>

