<%= render :partial => 'shared/list', :locals => { :pagetitle => 'Sets and stories', :list => @bundles  } %>

<div class="stretcher">
  <p>To create a new set, either select a bunch of snippets and other things on the page or drag them into one of your scratchpads, then press '+set'. You will be able to edit the set membership later, so it's easy to grab a few members to begin with and add more later.</p>
</div>
