<%= render :partial => 'header' %>

<% if !@bundle.body.nil? && @bundle.body != @bundle.synopsis %>
	<div style="clear: both">
		<%= @bundle.body.formatted %>
	</div>
<% end %>

<div id="bundle_<%= @bundle.id %>" class="setdrop" style="clear:both;">
	<div class="dropcontents">
		<%= render :partial => 'contents' %>
	</div>
	<h2 class="clear pale">Drag items into or out of this space to edit the set.</h2>
</div>

