<%= render :partial => 'header' %>

<div class="synopsis">
	<h2>synopsis</h2>
  <%= @bundle.synopsis.formatted %>
</div>

<div id="bundle_<%= @bundle.id %>" class="dropzone" style="clear:both;">
	<%= render :partial => 'contents' %>
</div>

<% if !@bundle.body.nil? && @bundle.body != @bundle.synopsis %>
	<div style="clear: both">
		<%= @bundle.body.formatted %>
	</div>
<% end %>