<div id="replywrapper" class="mainform">

	<% form_for([@topic, @reply], :url => new_topic_post_path(@topic)) do |f| -%>

    <h2>Add a reply</h2>
    
    <%= f.text_area :body, :rows => 6, :class => 'standard' %><br />

		<div class="waitme">
		 	<p class="formnote">
		 	  <%= f.submit "preview message" %>
		 	  your message will not be saved until you click on the 'confirm' link
	 	  </p>
    </div>
	<% end -%>

</div>
