<% form_for :post, @post, :url => update_post_path(
	:id => @post
) do |f| -%>
	<div class="commentbody">
  	<%= f.text_area :body, :rows => 14 %><br />
	</div>
	<div class="waitme">
 	  <%= submit_tag "save changes" %> or  <%= link_to 'cancel', '#', :class => 'cancel' %>
 	</div>
<% end -%>
