<% form_for :post, @post, :url => update_post_path(
	:id => @post
) do |f| -%>
	<div class="commentbody">
  	<%= f.text_area :body, :rows => 14 %><br />
	</div>
 	<%= submit_tag "save revised comment" %> <span class="button_or">or  <%= link_to 'cancel', '#', :class => 'cancel' %></span>
<% end -%>
