<% content_for :buttons do %>
  <%= submit_tag "Preview Comment" %> <span class="button_or">or <%= link_to 'cancel', url_for(@topic), {:class => 'cancelform'} %></span>
<% end %>

<% form_for :post,
            :url => topic_posts_path(@topic),
            :html => { 
              :multipart => true
            } do |f| 
%>

  <% render :partial => 'form', :locals => {:f => f} %>
	
<% end -%>
