<p>
  <label for="annotation_annotation_type_id">Note type</label><br />
  <%= f.select("annotation_type_id", @note_types, {}, {:class => 'standard'}) %>
</p>

<p>
  <label for="topic_body">Your note</label><br />
  <%= f.text_area :body, :rows => 8, :class => 'standard fillWithSelection pickme' %>
</p>
