<% note ||= @annotation %>
<div class="fieldnote<% if note.important? %> importantnote<% end %><% if note.badnews? %> badnote<% end %><% if note.goodnews? %> goodnote<% end %>">
  <h4><%= note.annotation_type.name %> <span class="headernote">added by <%= note.created_by.name %></span></h4>
  <%= note.body.formatted %>
</div>