<h1>Edit Annotation</h1>

<%= error_messages_for :annotation %>
<% form_for :annotation,
     :url  => annotation_path(@annotation),
     :html => { :method => :put } do |f| -%>
<%= render :partial => "form", :object => f %>
<br />
<%= submit_tag 'Save Changes', :or => link_to('Cancel', annotation_path(@annotation)) %>
<% end -%>