<% for column in Bundletype.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @bundletype.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @bundletype %> |
<%= link_to 'Back', :action => 'list' %>
