<p>
  Every two or three days we will post new questions here and you'll receive an automatic email message inviting you to answer one or more of (unless you choose not to receive them, of course). They tend to come in pairs of a slow interesting question and a quick dull one.
</p>
  
  