<% if list %>
 
  <div class="listrow">
    <%= render :partial => 'shared/icon', :locals => { :this => list, :with_caption => false } %>
    <h2>
      <%= link_to( "#{list.name}", {:controller => 'occasions', :action => 'show', :id => list}) %>
      <%= render :partial => 'shared/admin_buttons', :locals => {:item => list, :inplace => true} %>
    </h2>
		<p>generated <%= list.sources.count %> source documents.</p>
  </div>
  
<% end %>