<h1 class="pagetitle">Edit source document <%= link_to @source.name, :action => 'show', :id => @source %></h1>

<%= form_tag ({:action => 'update', :id => @source}, :multipart => true) %>
  <%= render :partial => 'form' %>
<%= end_form_tag %>
