<h1 class="pagetitle">Edit occasion <%= link_to @occasion.name, :action => 'show', :id => @occasion %></h1>

<% form_for :occasion,
            :url => occasion_url(@occasion),
            :html => { 
              :method => "put",
              :multipart => true
            } do |f| 
%>
  <%= render :partial => 'form' %>
<% end %>
