<%= error_messages_for 'warningtype' %>

<!--[form:warningtype]-->
<p><label for="warningtype_name">Name</label><br/>
<%= text_field 'warningtype', 'name'  %></p>

<p><label for="warningtype_prevents_use">Prevents use</label><br/>
<%= text_field 'warningtype', 'prevents_use'  %></p>
<!--[eoform:warningtype]-->

