<% for column in Warningtype.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @warningtype.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @warningtype %> |
<%= link_to 'Back', :action => 'list' %>
