<%= link_to "email notification", {
	:controller => 'monitorships', 
	:action => 'destroy', 
	:topic_id => params[:topic_id], 
}, {
	:class => 'autolink ticked',
	:title => 'click to switch off email subscription'
} %>
