<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<% @inline = false %>

<html>
<head>
  <title>kobble<% if @title %> - <%= @title %><% end%></title>
  <%= javascript_include_tag 'mootools', 'mootools-more', 'extensions', 'autocomplete', 'kobble', 'slimbox', 'swfupload/swfupload', 'swfupload/swfupload.cookies', 'swfupload/swfupload.queue', 'swfupload/swfupload.speed', :cache => "cache/kobble" %>
  <%= yield :extra_js %>
  <%= stylesheet_link_tag 'kobble', :cache => "cache/kobble" %>
  <%= yield :extra_css %>
</head>
<body>

  <div id="masthead">
    <p>
      <%= link_to "kobble/", "/" %><br />
      <%= link_to "#{current_account.name}/", url_for(current_account), {:class => 'account'} %><br />
      <% if current_collection %>
        <%= link_to "#{current_collection.name}/", url_for(current_collection), {:class => 'collection'} %><br />
      <% end %>
    </p>
  </div>
    
  <div id="pagetitle">
    <h1<% if @title && @title.size > 50 %> class="longtitle"<% end %>>
      <%= @title || 'welcome' %></h1>
  </div>

  <div id="canvas">
    <%= yield %>
  </div>

  <div id="mastfoot">
	  <div id="navigation">
      <%= link_to 'home', dashboard_url, {:class => request.parameters[:action] == 'home' ? " fg" : ''} %>
      <% [Source, Node, Bundle, Person, Tag].each do |klass| %>
        <%= link_to klass.nice_title.pluralize, {:controller => klass.to_s.underscore.pluralize}, {:class => (request.parameters[:controller] == klass.to_s.underscore.pluralize ? "fg" : '')} %>
      <% end %>
      <%= link_to 'search', search_url, {:class => request.parameters[:controller] == 'searches' ? " fg" : 'rollup'} %>
      <%= link_to 'discussion', {:controller => 'topics', :action => 'index'}, {:class => request.parameters[:controller] == 'topics' ? " fg" : ''} if current_account.can_have_discussion? %>
      <%= link_to 'log out', user_session_path, :method => :delete, :class => 'administrative' %>
    </div>
  </div> 

  <div id="scratchpad">
    <%= render :partial => 'shared/scratchpad', :collection => current_user.scratchpads %>
  </div>
  
  <div id="trashholder">
    <div id="trash" title="trash" class="trashdrop" catches="all">
      <p>drop here to delete</p>
    </div>  
  </div>
  
  <div id="notification"><h4></h4><p></p></div>
     
  <div id="admin">
    <%= yield :admin %>
  </div>

  <% if flash[:notice] %>
    <script type="text/javascript">
      //<![CDATA[
        window.addEvent('load', function(){ intf.announce('<%= escape_javascript(flash[:notice]) %>'); });
      //]]>
    </script>
  <% end %>
  <% if flash[:error] %>
    <script type="text/javascript">
      //<![CDATA[
        window.addEvent('load', function(){ intf.complain('<%= escape_javascript(flash[:error]) %>'); });
      //]]>
    </script>
  <% end %>

</body>
</html>