<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>Spoke!</title>
  <link rel="stylesheet" href="/stylesheets/spoke.css" type="text/css" />
</head>
<body>

  <div id="canvas">
   
<%= @content_for_layout %>

  </div>

  <div id="mastfoot">
    <div id="logo">
      <a href="/"><img src="/images/furniture/layout/sparklogo.png" width="49" height="39" alt="sparknow"></a>
    </div>  
          
    <div id="navigation">
    
      <div id="notification">
        <%= flash[:notice] %>
      </div>  
    </div>
  </div>

</body>
</html>