<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title><% if logged_in? %><%= current_user.collection.name %><% else %>spoke!<% end %></title>
  <link rel="stylesheet" href="/stylesheets/spoke.css" type="text/css" />
</head>
<body>

  <div id="canvas">
   
<%= @content_for_layout %>

  </div>

</body>
</html>