<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>materiali.st<% if @title %> &middot; <%= @title %><% end%></title>
  <%= stylesheet_link_tag 'materialist', :cache => "cache/materialist" %>
</head>
<body>
  <div id="masthead">
    <p>
      <%= link_to "materialist/", "/" %><% if logged_in? %><br />
      <%= link_to "#{current_user.account.name}/", {:controller => 'accounts', :action => 'home'}, {:class => 'account'} %><% end %><br />
    </p>
  </div>

  <div id="pagetitle">
    <h1<% if @title && @title.size > 50 %> class="longtitle"<% end %>><%= @title || 'welcome' %></h1>
  </div>

  <div id="canvas">
    <%= yield %>
  </div>

  <div id="mastfoot">
    <div id="navigation">
      <%= link_to 'welcome', '/', {:class => (request.parameters[:action] == 'index' ? "fg" : '')} %>
      <%= link_to 'background', 'http://about.materiali.st/' %>
      <%= link_to 'how it works', 'http://about.materiali.st/how/' %>
      <%= link_to 'faq', 'http://about.materiali.st/faq/' %>
      <%= link_to 'examples',  'http://about.materiali.st/examples/' %>
      <%= link_to 'forum', 'http://discuss.materiali.st/' %>
      <%= link_to 'sign up', {:controller => 'accounts', :action => 'new'}, {:class => (request.parameters[:action] == 'signup' ? "fg" : '')} %>
      <%= link_to 'log in', {:controller => 'login', :action => 'login'}, {:class => (request.parameters[:action] == 'login' ? "fg" : '')} %>
      <%= link_to 'spanner', 'http://spanner.org/', {:class => 'pale'} %> 
    </div>
  </div> 

</body>
</html>