<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>Welcome to the Knowledge Transfer Programme</title>
  <link rel="stylesheet" href="/stylesheets/spoke.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/mlal.css" type="text/css" />
  <script type="text/javascript" src="/js/mootools.js"></script>
  <script type="text/javascript" src="/js/extensions.js"></script>
	<script type="text/javascript" src="/js/Autocompleter.js"></script>
	<script type="text/javascript" src="/js/scratchpad.js"></script>
  <script type="text/javascript" src="/js/spoke.js"></script>
</head>
<body>

  <div id="pageholder">
   
<%= @content_for_layout %>

  </div>

</body>
</html>