<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
  <title>Knowledge Transfer Programme : <%= @pagetitle %></title>
  <link rel="stylesheet" href="/stylesheets/spoke.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/mlal.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/slimbox.css" type="text/css" />
	<% if activated? %>  
		<script type="text/javascript" src="/js/mootools.js"></script>
	  <script type="text/javascript" src="/js/extensions.js"></script>
	  <script type="text/javascript" src="/js/editinplace.js"></script>
	  <script type="text/javascript" src="/js/autolink.js"></script>
	  <script type="text/javascript" src="/js/slimbox.js"></script>
	  <script type="text/javascript" src="/js/mlal.js"></script>
	<% end %>
	<% if editor? %> 
		<script type="text/javascript" src="/js/deleteinplace.js"></script>
	<% end %>
</head>

<body>

<%= %>

<div id="mlalheader">
	<h1>
		<%= current_collection.name %> <span class="bright"><%= @pagetitle %></span>
	</h1>
	<div id="mlalnavigation">
		<%= link_to 'welcome', '/', {:class => @pagetitle == 'welcome' ? 'fg' : ''} %>
		<%= link_to 'background', '/background', {:class => @pagetitle == 'background' ? 'fg' : ''} %>
		<%= link_to 'faq', '/faq', {:class => @pagetitle == 'faq' ? 'fg' : ''} %>
		<% if logged_in? %>
			<% inactive_class = activated? ? '' : 'dim' %>
			<%= link_to 'blog', '/blog', {:class => @pagetitle == 'blog' ? 'fg' : inactive_class} %>
			<%= link_to 'discussion', '/discussion', {:class => @pagetitle == 'discussion' ? 'fg' : inactive_class} %>
			<%= link_to 'questions', '/survey', {:class => @pagetitle == 'survey' ? 'fg' : inactive_class} %>

			<%= link_to 'you', '/me', {:class => @pagetitle == 'you' ? 'fg' : inactive_class} %>
			<%= link_to 'log out', '/account/logout', {:class => inactive_class} %>
		<% else %>
			<%= link_to 'sign up', '/account/signup', {:class => @pagetitle == 'signup' ? 'fg' : ''} %>
			<%= link_to 'log in', '/account/login', {:class => @pagetitle == 'login' ? 'fg' : ''} %>
		<% end %>
	</div>
</div>

<div id="mlalbody">

<% if flash[:notice] %><div id="notification"><%= flash[:notice] %></div> <% end %>

<%= @content_for_layout %>

</div>

<div id="mlallogos">
	<a href="http://www.mlalondon.org.uk"><img src="/images/logos/mlalogo.png" width="100" height="57" alt="MLA London logo" style="margin-right: 20px;"></a><a href="http://www.lda.gov.uk"><img src="/images/logos/ldalogo.png" width="100" height="59" alt="London Development Agency logo" style="margin-right: 20px;"></a><a href="http://www.sparknow.net"><img src="/images/logos/sparklogo.png" width="73" height="59" alt="Sparknow logo"></a>
</div>
	
</body>
</html>
