<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
  <title>materiali.st<% if @title %> - <%= @title %><% end%></title>
  <%= javascript_include_tag 'mootools', 'mootools-more', 'extensions', 'autocomplete', 'spoke', :cache => "cache/materialist" %>
  <%= stylesheet_link_tag 'spoke', :cache => "cache/materialist" %>
</head>
<body>

  <div id="masthead">
    <p>
      <%= link_to "materialist/", "/" %><br />
      <%= link_to "#{current_user.account.name}/", {:controller => 'accounts', :action => 'home'}, {:class => 'account'} %><br />
    </p>
  </div>
    
  <div id="pagetitle">
    <h1<% if @title && @title.size > 50 %> class="longtitle"<% end %>><%= @title || 'welcome' %></h1>
  </div>

  <div id="canvas">
    <%= yield %>
  </div>

  <div id="mastfoot">
	  <div id="navigation">
      <%= link_to 'home', {:controller => 'accounts', :action => 'home'}, {:class => request.parameters[:action] == 'home' ? " fg" : ''} %>
      <% [Source, Node, Bundle, Person, Tag].each do |klass| %>
        <%= link_to klass.nice_title.pluralize, {:controller => klass.to_s.underscore.pluralize}, {:class => (request.parameters[:controller] == klass.to_s.underscore.pluralize ? "fg" : '')} %>
      <% end %>
      <%= link_to 'search', search_url, {:class => request.parameters[:controller] == 'searches' ? " fg" : ''} %>
      <%= link_to 'discussion', {:controller => 'topics', :action => 'index'}, {:class => request.parameters[:controller] == 'topics' ? " fg" : ''} if current_account.can_have_discussion? %>
    </div>
  </div> 

  <div id="scratchpad">
    <div id="scratchpad_tabs">
      <% for pad in current_user.scratchpads %>
        <a href="#" class="padtab" id="tab_scratchpad_<%= pad.id %>" title="<%= pad.body %>"><%= pad.name %></a>
      <% end %>
    </div>
    
    <div id="admin_tabs">
      <%= link_to "preferences", edit_user_url(current_user), {:id => 'tab_scratchpad_preferences', :class => 'padtab admintab'} %>
      <%= link_to "collections", collections_url, {:id => 'tab_scratchpad_collections', :class => 'padtab admintab'} %>
      <%= link_to "account admin", edit_account_url(current_account), {:id => 'tab_scratchpad_admin', :class => 'padtab admintab'} %>
    </div>

    <div id="scratchpad_pages">
      <%= render :partial => 'shared/scratchpad', :collection => current_user.scratchpads %>
      <div id="scratchpad_preferences" class="scratchpage"><%= render :partial => 'scratchpads/preferences_pad' %></div>
      <div id="scratchpad_collections" class="scratchpage"><%= render :partial => 'scratchpads/collections_pad' %></div>
      <div id="scratchpad_admin" class="scratchpage"><%= render :partial => 'scratchpads/admin_pad' %></div>
    </div>
  </div>
  
  <div id="trashholder" class="showondrag">
    <div id="trash" title="trash" class="trashdrop" catches="all">
      <p>drop here to delete</p>
    </div>  
  </div>
  
  <div id="notification"><h4></h4><p></p></div>
     
  <div id="admin" class="hideondrag">
    <%= yield :admin %>
  </div>

  <% if flash[:notice] %>
    <script type="text/javascript">
      //<![CDATA[
        window.addEvent('load', function(){ intf.announce('<%= flash[:notice] %>'); });
      //]]>
    </script>
  <% end %>
  <% if flash[:error] %>
    <script type="text/javascript">
      //<![CDATA[
        window.addEvent('load', function(){ intf.complain('<%= flash[:error] %>'); });
      //]]>
    </script>
  <% end %>

</body>
</html>