- @title = 'Account Settings' 

.mainform
  - form_for :account, :url => account_url(@account), :html => { :method => "put", :multipart => true } do |f| 
    = render :partial => 'form', :locals => {:f => f}
    .formbuttons
      = submit_tag "Update Account"
      or
      = link_to 'cancel', root_url

- content_for :admin do
  = render :partial => 'shared/account_admin'
